extends ../template/adminTemplate.pug

block content
	section(class="content")
		div(class="row")
			div(class="col-md-12")
				div(class="box box-solid")
					if message
						div(class="alert alert-"+message.type)
							button(type="button", class="close", data-dismiss="alert", aria-hidden="true") ×
							| #{message.message}
					div(class="box-header with-border ")
						h3(class="box-title")  Daftar Materi
						div(class="box-tools pull-right ")
					div(class="box-body")
						div(class="form-group")
							a(href="/admin/form-bahan-ajar" class="btn btn-primary mb-5")
								i(class="fas fa-plus-circle")
								|  Buat Materi
						#tablemateri(class="table-responsive")
							table#example1(class="table table-bordered table-striped  table-hover")
								thead
									tr
										th(width="5px") #
										th Mata Pelajaran
										th Judul materi
										th Tgl Publish
										th Kelas
										th Action
								tbody
									each d,index in data
										tr
											td=index+1
											td=d.mapel
											td=d.judul
											td=d.terbit
											td=d.kelas
											td
												a(href="/admin/form-bahan-ajar/"+d._id class="btn btn-flat btn-xs bg-yellow")
													i(class="fa fa-edit")
												form(action=`/admin/bahan-ajar/${d._id}?_method=DELETE&file=${d.file}` method="post" style="display:inline")
													button(onclick="return confirm('Anda yakin akan menghapus data ini?')" type="submit" class="btn btn-flat btn-xs bg-maroon")
														i(class="fa fa-trash")