extends ../template/adminTemplate.pug

block content
	section(class="content")
		div(class="row")
			div(class="col-md-12")
				form(action="/admin/bahan-ajar"+action method="post" enctype="multipart/form-data")
					div(class="box box-success")
						div(class="box-header with-border")
							h3(class="box-title")=title
							div(class="box-tools pull-right btn-group")
								button(type="submit" class="btn btn-sm btn-success")
									i(class="fa fa-check")
									|  Simpan
								a(href="/admin/bahan-ajar" class="btn btn-sm btn-danger" title="Batal")
									i(class="fa fa-times")
						// /.box-header
						div(class="box-body")
							div(class="form-group")
								label Pilih Mata Pelajaran
								select(name="mapel" class="form-control select2" style="width:100%" required)
									each d in mapel
										if data 
											if data.mapel == d
												option(value=d.nama selected) #{d.nama}
											else
												option(value=d.nama) #{d.nama}
										else
											option(value=d.nama) #{d.nama}
							div(class="form-group")
								input(type="text" class="form-control" name="judul" aria-describedby="helpId" placeholder="Judul materi" required value=(data)?data.judul:"")
							div(class="form-group")
								label Isi Materi
								if data
									textarea(name="isi" class="editor1" rows="10" cols="80" style="width:100%;") !{data.isi}
								else
									textarea(name="isi" class="editor1" rows="10" cols="80" style="width:100%;")
							div(class="form-group")
								div(class="row")
									div(class="col-md-4")
										label Pilih Kelas
										br
										select(name="kelas" class="form-control select2" style="width:100%" required="true")
											each d in kelas
												if data 
													if data.kelas == d
														option(value=d selected) #{d}
													else
														option(value=d) #{d}
												else
													option(value=d) #{d}
									div(class="col-md-4")
										label Tanggal Publish
										input(type="text" name="terbit" class="tgl form-control" autocomplete="off" required="true" value=(data)?data.terbit:"")
									div(class="col-md-4")
										label Link Youtube
										input(type="text" name="link_yt" class="form-control" autocomplete="off" value=(data)?data.link_yt:"")
							div(class="form-group")
								label(for="file") File Pendukung
								input(type="file" class="form-control-file" name="file" aria-describedby="fileHelpId")
								small#fileHelpId(class="form-text text-muted") format file (docx/pdf/jpg/png/mp4)
block script 
	script(src="/plugins/select2/select2.min.js")
	script.
		$('.select2').select2();
	script.
		tinymce.init({
		selector: '.editor1',
		plugins: [
		'advlist autolink lists link image charmap print preview hr anchor pagebreak',
		'searchreplace wordcount visualblocks visualchars code fullscreen',
		'insertdatetime media nonbreaking save table contextmenu directionality',
		'emoticons template paste textcolor colorpicker textpattern imagetools uploadimage paste formula'
		],
		
		toolbar: 'bold italic fontselect fontsizeselect | alignleft aligncenter alignright bullist numlist  backcolor forecolor | formula code | imagetools link image paste ',
		fontsize_formats: '8pt 10pt 12pt 14pt 18pt 24pt 36pt',
		paste_data_images: true,
		
		images_upload_handler: function(blobInfo, success, failure) {
		success('data:' + blobInfo.blob().type + ';base64,' + blobInfo.base64());
		},
		image_class_list: [{
		title: 'Responsive',
		value: 'img-responsive'
		}],
		setup: function(editor) {
		editor.on('change', function() {
		tinymce.triggerSave();
		});
		}
		});