extends ../template/adminTemplate.pug

block content
	section(class="content")
		div(class="row")
			div(class="col-md-12")
				div(class="box box-solid ")
					if message
						div(class="alert alert-"+message.type)
							button(type="button", class="close", data-dismiss="alert", aria-hidden="true") ×
							| #{message.message}
					div(class="box-header with-border ")
						h3(class="box-title")
							i(class="fa fa-briefcase")
							|  Data Bank Soal
						div(class="box-tools pull-right ")
							a(href="/admin/form-bank-soal" class="btn btn-sm btn-flat btn-success")
								i(class="glyphicon glyphicon-plus")
								span(class="hidden-xs") Tambah
					div(class="box-body")
						#tablereset(class="table-responsive")
							table#example1(class="table table-bordered table-striped")
								thead
									tr
										th(width="5px") No
										th Mata Pelajaran
								tbody
									each d,index in data
										tr
											td
												span(class="label label-primary") #{index+1}
											td
												a(data-toggle="collapse" data-parent="#accordion" href="#collapse"+index aria-expanded="true")
													img(src="/dist/img/soal.png" width="60" alt="image")
													span(style="font-size:15px") 
													smal #{d.kode} - #{d.mapel}
													//- label(class="label label-danger") non aktif
													//- label(class="label label-success")  aktif
													//- label(class="label label-warning")  Soal Kosong 
												div(id="collapse"+index class="panel-collapse collapse" aria-expanded="true")
													div(class="box-body")
														p Kelas : 
															small(class="label label-primary") #{d.kelas}
															p Soal : 
																small(class="label label-warning") #{d.jml_tampil}/#{d.jml_soal}
																small(class="label label-danger") #{d.bobot}
																p  Guru : 
																	small(class="label label-primary") #{d.nama_guru}
																div
																	a(href="/admin/data-soal/"+d._id)
																		button(class="btn btn-success btn-sm")
																			i(class="fa fa-search") 
																			|  Soal Materi
																	a(href="/admin/form-bank-soal/"+d._id class="btn btn-warning btn-sm")
																		i(class="fa fa-edit") 
																		|  Edit
																	form(action=`/admin/bank-soal/${d._id}?_method=DELETE` method="post" style="display:inline")
																		button(onclick="return confirm('Anda yakin akan menghapus data ini?')" type="submit" class="btn btn-flat btn-sm bg-maroon")
																			i(class="fa fa-trash")
																			|  Hapus