extends ../template/adminTemplate.pug

block content
	section(class="content")
		div(class="row")
			div(class="col-md-12")
				form(action="/admin/bank-soal"+action method="post")
					div(class="box box-success")
						div(class="box-header with-border")
							h3(class="box-title")=title
							div(class="box-tools pull-right btn-group")
								button(type="submit" class="btn btn-sm btn-success")
									i(class="fa fa-check")
									| Simpan
								a(href="/admin/bank-soal" class="btn btn-sm btn-danger" title="Batal")
									i(class="fa fa-times")
						// /.box-header
						div(class="box-body")
							div(class="row")
								div(class="col-md-4")
									div(class="form-group")
										label(for="") Kode Bank Soal
										input(type="text" class="form-control" name="kode" required value=(data)?data.kode:"")
								div(class="col-md-8")
									div(class="form-group")
										label Mata Pelajaran
										select(name="mapel" class="form-control" required="true")
											each d in mapel
												if data
													if data.mapel == d.nama
														option(value=d.nama selected) #{d.nama}
													else
														option(value=d.nama) #{d.nama}
												else
													option(value=d.nama) #{d.nama}
							div(class="form-group")
								div(class="row")
									div(class="col-md-6")
										label Pilih Kelas
										br
										select(name="kelas" class="form-control select2" style="width:100%" required="true")
											each d in kelas
												if data
													if data.kelas == d
														option(value=d selected) #{d}
													else
														option(value=d) #{d}
												else
													option(value=d) #{d}
									div(class="col-md-6")
										label Guru Pengajar
										input(type="text" name="nama_guru" class="form-control" required="true" value=(data)?data.nama_guru:"")
							div(class="form-group")
								div(class="row")
									div(class="col-md-4")
										label Jumlah Soal
										input(type="number" name="jml_soal" class="form-control" required="true" value=(data)?data.jml_soal:"")
									div(class="col-md-4")
										label Soal Tampil
										input(type="number" name="jml_tampil" class="form-control" required="true" value=(data)?data.jml_tampil:"")
									div(class="col-md-4")
										label Status Soal
										select(name="status" class="form-control" required="true")
											if data
												if data.status == 1
													option(value="1" selected) Aktif
													option(value="0") Non Aktif
												else
													option(value="1" ) Aktif
													option(value="0" selected) Non Aktif
											else
												option(value="1") Aktif
												option(value="0") Non Aktif
block script
	script(src="/plugins/select2/select2.min.js")
	script.
		$('.select2').select2();
