extends ../template/adminTemplate.pug

block content
	section(class="content")
		#PreviewPrint(class="row")
			div(class="col-md-12")
				div(class="box box-solid")
					div(class="box-header with-border")
						h3(class="box-title") Preview Daftar Hadir
						div(class="box-tools pull-right ")
							a( href="/admin/kartu-ujian" class="btn btn-sm btn-flat btn-danger")
								i(class="fa fa-ban")
								label(class="hidden-xs")  Cancel 
							button(class="btn btn-sm btn-flat btn-primary" onclick="printDiv()")
								i(class="fa fa-print")
								label(class="hidden-xs")  Print
		div(class="row")
			div(class="col-md-12")
				div(class="page")
					each d in data[0].student
						div(class="detail" style="border: 1px solid black; width:48%; margin-left:5px; margin-right:5px; margin-bottom:13px; float:left;")
							table(width="100%" style="margin:10px;")
								tr
									td(width="10%")
										img(src="/dist/img/tutwuri.png" width="70")
									td(width="80%" style="text-align:center")
										strong(class="f12") KARTU UJIAN SEKOLAH
											br
											| #{user.nama_sekolah}
									td(width="10%")
							hr(style="weight:100%; border: 1px solid black;")
							table(class="detail" style="margin:10px; width:100%;")
								tr(height="20px")
									td(width="100px") Nama Peserta
									td(width="10px") :
									td
										span
											| #{d.nama}
								tr(height="20px")
									td(width="100px") NISN 
									td(width="10px") :
									td
										span
											| #{d.nisn}
								tr(height="20px")
									td(width="100px") Username
									td(width="10px") :
									td
										span
											| #{d.nisn}
								tr(height="20px")
									td(width="100px") Password
									td(width="10px") :
									td
										span
											| #{d.password}
							table(class="photo" border="1" style="margin:10px;")
								tr(height="120px")
									td(width="100px" style="text-align:center;") Photo
					
block script 
	script.
		function printDiv(){
			var divHeader = document.getElementById("PreviewPrint");
			var heightCard = document.getElementById("details")
			divHeader.style.display = "none";
			divHeader.style.overflow = "hidden";
			window.print();
			divHeader.style.overflow = "";
			divHeader.style.display = "";
		}