extends ../template/adminTemplate.pug

block content
	section(class="content")
		#PreviewPrint(class="row")
			div(class="col-md-12")
				div(class="box box-solid")
					div(class="box-header with-border")
						h3(class="box-title") Preview Daftar Hadir
						div(class="box-tools pull-right ")
							a( href="/admin/berita-acara" class="btn btn-sm btn-flat btn-danger")
								i(class="fa fa-ban")
								|  Cancel 
							button(class="btn btn-sm btn-flat btn-primary" onclick="printDiv()")
								i(class="fa fa-print")
								|  Print
		div(class="row")
			div(class="col-md-12")
				div(class="page")
					table(width="100%")
						tbody
							tr
								td(rowspan="4" width="120" align="center")
									img(src="/dist/img/tutwuri.png" width="80")
								td(colspan="2" align="center")
									font(size="+1")
										b BERITA ACARA PELAKSANAAN
								td(rowspan="7" width="120" align="center")
									img(src="/dist/img/tutwuri.png" width="80")
							tr
								td(colspan="2" align="center")
									font(size="+1")
										if data[0].kode == "UTS"
											b  PENILAIAN UJIAN TENGAH SEMESTER
										else if data[0].kode == "UAS"
											b  PENILAIAN UJIAN AKHIR SEMESTER
										else if data[0].kode == "US"
											b  PENILAIAN UJIAN SEKOLAH
							//- tr
							//- 	td(colspan="2" align="center")
							//- 		font(size="+1")
							//- 			b TAHUN PELAJARAN 2022/2023
					br
					table(border="0" width="95%" align="center")
						tbody
							tr(height="30")
								td(class="tgl_mulai" data-unixtime=data[0].tgl_mulai height="30" colspan="4" style="text-align: justify;") 
					table(border="0" width="95%" align="center")
						tbody
							tr(height="30")
								td(height="30" width="5%") 1.
								td(height="30" width="30%") Nama Sekolah
								td(height="30" width="60%" style="border-bottom:thin solid #000000") #{data[0].school[0].nama_sekolah}
							tr(height="30")
								td(height="30" width="5%")
								td(height="30" width="30%") Mata Pelajaran
								td(height="30" width="60%" style="border-bottom:thin solid #000000") #{data[0].mapel}
							tr(height="30")
								td(height="30" width="5%")
								td(height="30" width="30%") Ruang
								td(height="30" width="60%" style="border-bottom:thin solid #000000") #{data[0].ruangan}
							tr(height="30")
								td(height="30" width="10px")
								td(height="30") Jumlah Peserta Seharusnya
								td(height="30" width="60%" style="border-bottom:thin solid #000000") 
							tr(height="30")
								td(height="30" width="5%")
								td(height="30" width="30%") Jumlah Hadir (Ikut Ujian)
								td(height="30" width="60%" style="border-bottom:thin solid #000000") 
							tr(height="30")
								td(height="30" width="10px")
								td(height="30") Jumlah Tidak Hadir
								td(height="30" width="60%" style="border-bottom:thin solid #000000") 
							tr(height="30")
								td(height="30" width="10px")
							tr(height="30")
								td(height="30" width="5%") 2.
								td(colspan="2" height="30" width="30%")
									if data[0].kode == "UTS"
										| Catatan selama pelaksanaan ujian "Penilaian Tengah Semester"
									else if data[0].kode == "UAS"
										| Catatan selama pelaksanaan ujian "Penilaian Akhir Semester"
									else if data[0].kode == "US"
										| Catatan selama pelaksanaan ujian "Penilaian Sekolah"
							tr(height="120px")
								td(height="30" width="5%")
								td(colspan="2" style="border:solid 1px black; padding:5px") #{data[0].catatan}
							tr(height="30")
								td(height="30" colspan="2" width="5%") Yang membuat berita acara : 
					table(border="0" width="80%" style="margin-left:50px")
						tbody
							tr
								td(colspan="4")
								td(height="30" width="30%") 
									b TTD
							tr
								td(width="10%") 1. 
								td(width="20%") Proktor
								td(width="30%" style="border-bottom:thin solid #000000") #{data[0].nama_praktor}
								td(height="30" width="5%")
								td(height="30" width="35%")
							tr
								td(width="10%")
								td(width="20%") NIP. 
								td(width="30%" style="border-bottom:thin solid #000000") #{data[0].nip_praktor}
								td(height="30" width="5%")
								td(height="30" width="35%" style="border-bottom:thin solid #000000")  1. 
							tr
								td(colspan="4")
							tr
								td(width="10%") 2. 
								td(width="20%") Pengawas
								td(width="30%" style="border-bottom:thin solid #000000") #{data[0].nama_pengawas}
								td(height="30" width="5%")
								td(height="30" width="35%")
							tr
								td(width="10%")
								td(width="20%") NIP. 
								td(width="30%" style="border-bottom:thin solid #000000") #{data[0].nip_pengawas}
								td(height="30" width="5%")
								td(height="30" width="35%" style="border-bottom:thin solid #000000")  2. 
							tr
								td(colspan="4")
							tr
								td(width="10%") 3. 
								td(width="20%") Kepala Sekolah
								td(width="30%" style="border-bottom:thin solid #000000") #{data[0].school[0].nama}
								td(height="30" width="5%")
								td(height="30" width="35%")
							tr
								td(width="10%")
								td(width="20%") NIP. 
								td(width="30%" style="border-bottom:thin solid #000000") #{data[0].school[0].nip}
								td(height="30" width="5%")
								td(height="30" width="35%" style="border-bottom:thin solid #000000")  3. 
block script 
	script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/moment.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/locale/id.min.js")
	script.
		function printDiv(){
			var divHeader = document.getElementById("PreviewPrint");
			divHeader.style.display = "none";
			divHeader.style.overflow = "hidden";
			window.print();
			divHeader.style.overflow = "";
			divHeader.style.display = "";
		}
		$( document ).ready(function() {
			let mulai = $(".tgl_mulai").data("unixtime");
			let jam = moment(mulai).format('HH:mm');
			let tahun = moment(mulai).format('YYYY');
			let hari = moment(mulai).format('dddd');
			let tgl = moment(mulai).format('D');
			let bulan = moment(mulai).format('MMMM');
			let html = `Pada hari ini ${hari} tanggal ${tgl} bulan ${bulan} tahun ${tahun}, di CBT telah diselenggarakan mulai pukul ${jam}`
			$(".tgl_mulai").html(html);
		});