extends ../template/adminTemplate.pug

block content
	section(class="content")
		div(class="row")
			div(class="col-md-12")
				div(class="box box-solid")
					if message
						div(class="alert alert-"+message.type)
							button(type="button", class="close", data-dismiss="alert", aria-hidden="true") ×
							| #{message.message}
					div(class="box-header with-border")
						h3(class="box-title") Daftar Hadir
					// /.box-header
					div(class="box-body")
						div(class="table-responsive")
							table#tablekelas(class="table table-bordered table-striped")
								thead
									tr
										th(width="5px") #
										th(width="200px") Mapel
										th(width="50px") Ruang
										th(width="150px") Hari
										th(width="150px") File
										th(width="100px") Action
								tbody
									each d, index in data
										tr
											td=index+1
											td=d.banksoal[0].mapel
											td=d.ruangan
											td(class="tgl_mulai" data-unixtime=d.tgl_mulai)
											if d.file_daftar_hadir
												td ada
											else 
												td belum ada
											td(style="text-align:center;")
												a(href="cetak-daftar-hadir/"+d._id class="btn btn-flat btn-xs bg-yellow" title="Cetak")
													i(class="fa fa-print")
												button(class="btn btn-xs btn-flat btn-success" title="Upload" data-toggle="modal" data-target="#import" data-id=d._id onclick="clickUpload(this)")
													i(class="fa fa-upload")
												if d.file_daftar_hadir
													a(class="btn btn-xs btn-flat btn-primary" title="Download" target="_blank" href="/superadmin/daftar-hadir/"+d._id)
														i(class="fa fa-download")
			#import(class="modal fade" style="display: none;")
				div(class="modal-dialog")
					div(class="modal-content")
						div(class="modal-header bg-blue")
							button(class="close" data-dismiss="modal")
								span(aria-hidden="true")
									i(class="glyphicon glyphicon-remove")
							h3(class="modal-title") Import Hasil Absensi
						div(class="modal-body")
							form#upload(action="/admin/daftar-hadir" method="post" enctype="multipart/form-data")
								div(class="form-group")
									label Pilih File
									input(type="file" name="file" class="form-control" required="true")
								p
									| Sebelum meng-import pastikan file yang akan anda import sudah dalam bentuk (.pdf)
									br
								div(class="modal-footer")
									div(class="box-tools pull-right ")
										button(type="submit" name="importmapel" class="btn btn-sm btn-flat btn-success")
											i(class="fa fa-upload")
											| Simpan
										button(type="button" class="btn btn-default btn-sm pull-left" data-dismiss="modal") Close
block script
	script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/moment.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/locale/id.min.js")
	script.
		$( document ).ready(function() {
			let mulai = $(".tgl_mulai").data("unixtime");
			let mulaiDate = moment(mulai).format('dddd, D MMMM YYYY HH:mm');
			$(".tgl_mulai").html(mulaiDate);
		});
		function clickUpload(x){
			$("#upload").attr("action", "/admin/daftar-hadir/"+$(x).data("id"))
		}