extends ../template/adminTemplate.pug

block content
	section(class="content")
		div(class="row")
			div(class="col-md-12")
				div(class="box box-solid")
					div(class="box-header with-border")
						h3(class="box-title")
							i(class="fas fa fa-database fa fa-fw")
							|  Pengaturan Database
					div(class="box-body no-padding ")
						div(class="nav-tabs-custom")
							ul(class="nav nav-tabs")
								li(class="active")
									a(href="#BackupRestore" data-toggle="tab" aria-expanded="true") Backup & Restore
								li
									a(href="#deletedatabase" data-toggle="tab" aria-expanded="true") Hapus Database
							div(class="tab-content")
								#BackupRestore(class="tab-pane active")
									div(class="row")
										div(class="col-md-6")
											div(class="box box-solid")
												div(class="box-header")
													h3(class="box-title") Backup Database
												div(class="box-body")
													p Nama file backup database yang diberikan tidak boleh di ubah
													a(class="btn btn-flat btn-success" target=_blank href="/admin/backup")
														i(class="fa fa-database")
														|  Backup Database
										div(class="col-md-6")
											div(class="box box-solid")
												div(class="box-header")
													h3(class="box-title") Restore Database
												div(class="box-body")
													p Klik Tombol dibawah ini untuk merestore database
													div(class="col-md-8")
														input(class='form-control' name='file' type='file' required  form="restore")
													button(class="btn btn-flat btn-success" type="submit" form="restore")
														i(class="fa fa-database")
														|  Restore Database
								#deletedatabase(class="tab-pane")
									div(class="row")
										div(class="col-lg-12 col-md-6 col-sm-12")
											div(class="box box-solid")
												div(class="box-header")
													h3(class="box-title") Hapus Database
												div(class="box-body")
													p(class='text-danger')
														i(class='fa fa-warning')
														strong Mohon di ingat!  
														|  Data yang telah dikosongkan tidak dapat dikembalikan
													button(class="btn btn-flat btn-danger")
														i(class="fa fa-trash")
														|  Hapus Database
								form(id="restore" action="/admin/restore" method="post" enctype="multipart/form-data")
block script