extends ../template/adminTemplate.pug

block content
	section(class="content")
		div(class="row")
			div(class="col-md-12")
				div(class="box box-solid")
					div(class="box-header with-border")
						h3(class="box-title")
							i(class="fas fa-file-signature fa-fw   ")
							| #{rekap}
						div(class="box-tools pull-right")
							a(class="btn btn-sm btn-primary" href="#download")
								i(class="fa fa-download")  
								label(class="hidden-xs")  Export
							a(class="btn btn-sm btn-danger" href="semua-nilai")
								i(class="fa fa-times")  
								label(class="hidden-xs")  Keluar
					// /.box-header
					div(class="box-body")
						div(class="table-responsive")
							table#excaple(class="table table-bordered table-striped")
								thead
									tr(style="background-color:yellowgreen;")
										th(rowspan="2" style="vertical-align:middle;")
											div(style="width:10px;") #
										th(rowspan="2" style="vertical-align:middle; text-align:center;")
											div(style="width:50px;") KLS
										th(rowspan="2" style="vertical-align:middle; text-align:center;")
											div(style="width:100px;") NISN
										th(rowspan="2" style="vertical-align:middle; text-align:center;")
											div(style="width:150px;") No. Peserta
										th(rowspan="2" style="vertical-align:middle; text-align:center;")
											div(style="width:250px;") Nama
										th(rowspan="2" style="vertical-align:middle; text-align:center;")
											div(style="width:100px;") Jenis Kelamin
										th(rowspan="2" style="vertical-align:middle; text-align:center;")
											div(style="width:100px;") Tempat Lahir
										th(rowspan="2" style="vertical-align:middle; text-align:center;")
											div(style="width:100px;") Tanggal Lahir
										th(rowspan="2" style="vertical-align:middle; text-align:center;")
											div(style="width:150px;") Nama Orang Tua
										th(colspan="14" style="text-align:center; background-color: yellow;")
											div(style="") NILAI AKHIR/NILAI SEKOLAH
									tr(style="background-color: yellow;")
										each d in mapel
											th=d
										th JML
										th Rata2
										th SIKAP
								tbody
									each d,index in data
										tr
											td=index+1
											td(style="text-align:center") #{d.kelas}
											td=d.nisn
											td=d.no_peserta
											td=d.nama
											td=d.jenis_kelamin
											td=d.tempat_lahir
											td=d.tanggal_lahir
											td=d.nama_orang_tua
											each f in d.scores
												td=f.nilai
											td=d.jml
											td=d.mean
											td=d.sikap