extends ../template/adminTemplate.pug

block content
	section(class="content")
		div(class="row")
			div(class="col-md-12")
				div(class="box box-solid")
					if message
						div(class="alert alert-"+message.type)
							button(type="button", class="close", data-dismiss="alert", aria-hidden="true") ×
							| #{message.message}
					div(class="box-header with-border ")
						h3(class="box-title")
							i(class="fas fa-user-friends fa-fw   ")
							|  File Pendukung
						div(class="box-tools pull-right")
							a(data-toggle="modal" data-backdrop="static" data-target="#importpeserta" class="btn btn-sm btn-success")
								i(class="fa fa-plus")
								span(class="hidden-xs")  Tambah
					div(class="box-body")
						div(class="table-responsive")
							table#biodata-siswa(class="table table-bordered table-striped")
								thead
									tr
										th(style="width: 1%; text-align: center;") No
										th(style="text-align: center;") Nama File
										th(style="text-align: center; width: 100px;") Aksi
								tbody
									each d,index in data
										tr
											td=index+1
											td=d.nama
											td(style="text-align: center;")
												a(href="/admin/file-pendukung/"+d._id target="_blank" class="btn btn-flat btn-xs bg-yellow")
													i(class="fa fa-download")
												form(action=`/admin/file-pendukung/${d._id}?_method=DELETE&file=${d.nama}` method="post" style="display:inline")
													button(onclick="return confirm('Anda yakin akan menghapus data ini?')" type="submit" class="btn btn-flat btn-xs bg-maroon")
														i(class="fa fa-trash")
						#importpeserta(class="modal fade" style="display: none;")
							div(class="modal-dialog")
								div(class="modal-content")
									div(class="modal-header bg-blue")
										button(class="close" data-dismiss="modal")
											span(aria-hidden="true")
												i(class="glyphicon glyphicon-remove")
										h3(class="modal-title") Import File Pendukung
									div(class="modal-body")
										form(action="/admin/file-pendukung" method="post" enctype="multipart/form-data")
											div(class="form-group")
												label Pilih File
												input(type="file" name="file" class="form-control" required="true" multiple)
												p *Jika nama file sama, maka file akan ditimpa
											div(class="modal-footer")
												div(class="box-tools pull-right ")
													button(type="submit" name="importmapel" class="btn btn-sm btn-flat btn-success")
														i(class="fa fa-upload")
														|  Simpan
													button(type="button" class="btn btn-default btn-sm pull-left" data-dismiss="modal") Close