extends ../template/adminTemplate.pug

block content
	section(class="content")
		div(class="row")
			div(class="col-md-12")
				form(action="/admin/peserta"+action method="post")
					div(class="box box-success")
						div(class="box-header with-border")
							h3(class="box-title")=title
							div(class="box-tools pull-right btn-group")
								button(type="submit" class="btn btn-sm btn-success")
									i(class="fa fa-check")
									|  Simpan
								a(href="/admin/peserta" class="btn btn-sm btn-danger" title="Batal")
									i(class="fa fa-times")
									|  Batal
						// /.box-header
						div(class="box-body")
							div(class="form-group")
								div(class="row")
									div(class="col-md-6")
										label NISN
										input(type="text" name="nisn" class="form-control" required="true" value=(data)?data.nisn:"")
									div(class="col-md-6")
										label Nomor Peserta
										input(type="text" name="no_peserta" class="form-control" required="true" value=(data)?data.no_peserta:"")
							div(class="form-group")
								div(class="row")
									div(class="col-md-8")
										label Nama
										input(type="text" name="nama" class="form-control" required="true" value=(data)?data.nama:"")
									div(class="col-md-4")
										label Kelas
										select(name="kelas" class="form-control" required="true")
											each d in kelas
												if data
													if data.kelas == d
														option(value=d selected) #{d}
													else
														option(value=d) #{d}
												else
													option(value=d) #{d}
							div(class="form-group")
								div(class="row")
									div(class="col-md-6")
										label Jenis Kelamin
										select(name="jenis_kelamin" class="form-control" required="true")
											if data
												if data.jenis_kelamin == "Laki-Laki"
													option(value="Laki-Laki" selected) Laki-Laki
													option(value="Perempuan") Perempuan
												else if data.jenis_kelamin == "Perempuan"
													option(value="Laki-Laki") Laki-Laki
													option(value="Perempuan" selected) Perempuan
											else
												option(value="Laki-Laki") Laki-Laki
												option(value="Perempuan") Perempuan
									div(class="col-md-6")
										label Nama Oran tua
										input(type="text" name="nama_orang_tua" class="form-control" required="true" value=(data)?data.nama_orang_tua:"")
							div(class="form-group")
								div(class="row")
									div(class="col-md-6")
										label Tempat Lahit
										input(type="text" name="tempat_lahir" class="form-control" required="true" value=(data)?data.tempat_lahir:"")
									div(class="col-md-6")
										label Tanggal Lahir
										input(type="text" name="tanggal_lahir" class="tgl_lahir form-control" required="true" value=(data)?data.tanggal_lahir:"")
							div(class="form-group")
								div(class="row")
									div(class="col-md-6")
										label Status
										input(type="text" name="status" class="form-control" required="true" value=(data)?data.status:"")
									div(class="col-md-6")
										label Password
										input(type="text" name="password" class="form-control" required="true" value=(data)?data.password:"")
							div(class="form-group")
								div(class="row")
									div(class="col-md-6")
										label Jenjang
										input(type="text" name="jenjang" class="form-control" required="true" value=(data)?data.jenjang:"")
									div(class="col-md-6")
										label Ruangan
										select(name="ruangan" class="form-control" required="true")
											each d in ruangan
												if data
													if d.kode == data.ruangan
														option(value=d.kode selected) #{d.kode}
													else
														option(value=d.kode) #{d.kode}
												else
													option(value=d.kode) #{d.kode}