extends ../template/adminTemplate.pug

block content
	section(class="content")
		div(class="row")
			div(class="col-md-12")
				div(class="box box-solid")
					div(class="box-body")
						div(style="margin:20px; text-align:center;")
							h1 Welcome
			div(class="col-md-12")
				div(class="animated flipInX col-md-12")
					div(class="row")
						div(class="col-md-12")
							div(class="box box-solid direct-chat direct-chat-warning")
								div(class="box-header with-border")
									h3(class="box-title")
										i(class="fas fa-bullhorn fa-fw")
										| Pengumuman
								div(class="box-body")
									#pengumuman
										ul(class="timeline")
											each d in data
												li
													i(class="fa fa-envelope bg-blue")
													div(class="timeline-item")
														span(class="time createdAt" data-unixtime=d.createdAt)
														h3(class="timeline-header" style="background-color:#f9f0d5")
															a(class="text-blue" href="#") #{d.judul}
														div(class="timeline-body") !{d.isi}
block script
	script(src="/dist/js/script.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/moment.min.js")
	script.
		$( document ).ready(function() {
			let mulai = $(".createdAt");
			for (let i = 0; i < mulai.length; i++) {
				let mulaiDate = moment($(mulai[i]).data("unixtime")).format('DD-MM-YYYY');
				$(mulai[i]).html(mulaiDate);
			}
		});