extends ../template/adminTemplate.pug

block content
	section(class="content")
		div(class="row")
			div(class="col-md-12")
				div(class="box box-solid")
					if message
						div(class="alert alert-"+message.type)
							button(type="button", class="close", data-dismiss="alert", aria-hidden="true") ×
							| #{message.message}
					div(class="box-header with-border ")
						h3(class="box-title")
							i(class="fas fa-envelope-open-text    ")
							|  Aktifasi Ujian
						div(class="box-tools pull-right ")
							a(href="/admin/form-jadwal" class="btn btn-sm btn-flat btn-success")
								i(class="glyphicon glyphicon-plus")
								span(class="hidden-xs") Tambah Jadwal
			#bodyreset
				#bodyreset
					each d,index in data
						div(class="col-md-4")
							// Widget: user widget style 1
							div(class="box box-widget widget-user-2")
								// Add the bg color to the header using any of the bg-* classes
								div(class="widget-user-header bg-gray" style="padding: 6px")
									div(class="widget-user-image")
										img(src="../dist/img/soal.png" alt="")
									// /.widget-user-image
									h3(class="widget-user-username") #{d.kode_banksoal} - #{d.banksoal[0].kelas}
									h5(class="widget-user-desc")
										i(class="fa fa-tag")
										|  #{d.kode} - Ruangan #{d.ruangan}
									h5(class="widget-user-desc")
										i(class="fa fa-circle text-yellow")
										|  0 Mengerjakan 
										i(class="fa fa-circle text-green")
										|  0 Selesai
								div(class="box-footer no-padding")
									a(data-toggle="collapse" data-parent="#accordion" href="#collapseThree1"+index)
										center
											if d.status == 0
												h3  BELUM MULAI
											else if d.status == 1
												h3  SEDANG BERJALAN
											else if d.status == 2
												h3  SELESAI
									div(id="collapseThree1"+index class="panel-collapse collapse" aria-expanded="true")
										ul(class="nav nav-stacked")
											li
												a(href="#")
													i(class="fas fa-clock")
													|  Ujian Dimulai
													span(class="pull-right badge bg-green tgl_mulai" data-unixtime=d.tgl_mulai)
											li
												a(href="#")
													i(class="fas fa-clock")
													|  Ujian Ditutup
													span(class="pull-right badge bg-red tgl_selesai" data-unixtime=d.tgl_selesai)
											li
												a(href="#")
													i(class="fas  fa-hourglass")
													|  Durasi Ujian
													span(class="pull-right badge bg-purple") #{d.durasi}
										center(style="padding: 8px")
											form(action=`/admin/jadwal/${d._id}?_method=DELETE` method="post" style="display:inline")
												button(onclick="return confirm('Anda yakin akan menghapus data ini?')" type="submit" class="btn btn-flat btn-sm bg-maroon")
													i(class="fa fa-trash")
													|  Hapus
											a(href="/admin/form-jadwal/"+d._id class="btn btn-warning")
												i(class="fa fa-edit")
												|  Edit

block script
	script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/moment.min.js")
	script.
		$( document ).ready(function() {
			let mulai = $(".tgl_mulai");
			for (let i = 0; i < mulai.length; i++) {
				let mulaiDate = moment($(mulai[i]).data("unixtime")).format('DD-MM-YYYY HH:mm:ss');
				$(mulai[i]).html(mulaiDate);
			}

			let selesai = $(".tgl_selesai");
			for (let i = 0; i < selesai.length; i++) {
				let selesaiDate = moment($(selesai[i]).data("unixtime")).format('DD-MM-YYYY HH:mm:ss');
				$(selesai[i]).html(selesaiDate);
			}
		});