extends ../template/adminTemplate.pug

block content
	section(class="content")
		div(class="row")
			div(class="col-md-12")
				form(action="/admin/jadwal"+action method="post")
					div(class="box box-success")
						div(class="box-header with-border")
							h3(class="box-title")=title
							div(class="box-tools pull-right btn-group")
								button(type="submit" class="btn btn-sm btn-success")
									i(class="fa fa-check")
									| Simpan
								a(href="/admin/jadwal" class="btn btn-sm btn-danger" title="Batal")
									i(class="fa fa-times")
						// /.box-header
						div(class="box-body")
							div(class="form-group")
								div(class="row")
									div(class="col-md-4")
										label Nama Bank Soal
										select(name="kode_banksoal" class="form-control" required="true")
											each d in banksoal
												if data
													if data.kode_banksoal == d.kode
														option(value=d.kode selected) #{d.kode + " - " + d.mapel}
													else
														option(value=d.kode) #{d.kode + " - " + d.mapel}
												else
													option(value=d.kode) #{d.kode + " - " + d.mapel}
									div(class="col-md-4")
										label Nama Jenis Ujian
										select(name="kode" class="form-control" required="true")
											if data
												if data.kode == "UTS"
													option(value="UTS" selected) UTS
													option(value="UAS") UAS
													option(value="US") US
												else if data.kode == "UAS"
													option(value="UTS" ) UTS
													option(value="UAS" selected) UAS
													option(value="US") US
												else if data.kode == "US"
													option(value="UTS" ) UTS
													option(value="UAS" ) UAS
													option(value="US" selected) US
											else
												option(value="UTS" ) UTS
												option(value="UAS") UAS
												option(value="US") US
									div(class="col-md-4")
										label Ruangan
										select(name="ruangan" class="form-control" required="true")
											each d in ruangan
												if data
													if data.ruangan == d.kode
														option(value=d.kode selected) #{d.kode}
													else
														option(value=d.kode) #{d.kode}
												else
													option(value=d.kode) #{d.kode}
							div(class="form-group")
								div(class="row")
									div(class="col-md-4")
										label Mulai Ujian
										input(type="text" name="tgl_mulai" class="tgl form-control tgl_mulai" autocomplete="off" required="true" data-unixtime=(data)?data.tgl_mulai:"")
									div(class="col-md-4")
										label Waktu Expired
										input(type="text" name="tgl_selesai" class="tgl form-control tgl_selesai" autocomplete="off" required="true" data-unixtime=(data)?data.tgl_selesai:"")
									div(class="col-md-4")
										label Waktu Ujian (Menit)
										input(type="number" name="durasi" class="form-control" required="true" value=(data)?data.durasi:"")
block script
	script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/moment.min.js")
	script.
		$( document ).ready(function() {
			let mulai = $(".tgl_mulai").data("unixtime");
			if(mulai){
				let mulaiDate = moment(mulai).format('YYYY/MM/DD HH:mm');
				$(".tgl_mulai").attr("value",mulaiDate);
			}

			let selesai = $(".tgl_selesai").data("unixtime");
			if(selesai){
				let selesaiDate = moment(selesai).format('YYYY/MM/DD HH:mm');
				$(".tgl_selesai").attr("value",selesaiDate);
			}
		});