extends ../template/adminTemplate.pug

block content
	section(class="content")
		div(class="row")
			div(class="col-md-12")
				div(class="box box-solid")
					if message
						div(class="alert alert-"+message.type)
							button(type="button", class="close", data-dismiss="alert", aria-hidden="true") ×
							| #{message.message}
					div(class="box-header with-border")
						h3(class="box-title") Kartu Peserta Ujian
						div(class="box-tools pull-right")
							button(class="btn btn-sm btn-flat btn-primary" data-toggle="modal" data-target="#tambahKartu")
								i(class="fa fa-plus")
								label(class="hidden-xs") Tambah
					// /.box-header
					div(class="box-body")
						table#tablekelas(class="table table-bordered table-striped")
							thead
								tr
									th(width="5px") #
									th(width="300px") Kelas
									th Header
									th(width="100px") Action
							tbody
								each d,index in data
									tr
										td=index+1
										td=d.kelas
										td=d.kode
										td(style="text-align:center;")
											a(href="/admin/cetak-kartu/"+d._id class="btn btn-flat btn-xs bg-yellow")
												i(class="fa fa-print")
											form(action=`/admin/kartu-ujian/${d._id}?_method=DELETE` method="post" style="display:inline")
												button(onclick="return confirm('Anda yakin akan menghapus data ini?')" type="submit" class="btn btn-flat btn-xs bg-maroon")
													i(class="fa fa-trash")
			#tambahKartu(class="modal fade" style="display: none;")
				div(class="modal-dialog")
					div(class="modal-content")
						div(class="modal-header bg-blue")
							button(class="close" data-dismiss="modal")
								span(aria-hidden="true")
									i(class="glyphicon glyphicon-remove")
							h3(class="modal-title") Tambah Kartu Peserta Ujian
						div(class="modal-body")
							form(action="/admin/kartu-ujian" method="post")
								div(class="form-group")
									label Pilih Kelas
									select(name="kelas" class="form-control" required="true")
										each d in kelas
											option(value=d) #{d}
								div(class="form-group")
									label Pilih Ujian
									select(name="kode" class="form-control" required="true")
										option(value="UTS") UTS
										option(value="UAS") UAS
										option(value="US") US
								div(class="modal-footer")
									div(class="box-tools pull-right ")
										button(type="submit" class="btn btn-sm btn-flat btn-success")
											i(class="fa fa-check")
											| Simpan
										button(type="button" class="btn btn-default btn-sm pull-left" data-dismiss="modal") Close										