extends ../template/adminTemplate.pug

block content
	section(class="content")
		div(class="row")
			div(class="col-md-12")
				div(class="box box-solid")
					if message
						div(class="alert alert-"+message.type)
							button(type="button", class="close", data-dismiss="alert", aria-hidden="true") ×
							| #{message.message}
					div(class="box-header with-border")
						h3(class="box-title") Kelas
						div(class="box-tools pull-right")
							a(href="/admin/form-kelas" class="btn btn-sm btn-flat btn-primary")
								i(class="fa fa-plus")
								label(class="hidden-xs") Tambah
							button(class="btn btn-sm btn-flat btn-success" data-toggle="modal" data-target="#importkelas")
								i(class="fa fa-upload")
								label(class="hidden-xs") Import
							a(href="/admin/export-kelas" target="_blank" class="btn btn-sm btn-flat btn-danger")
								i(class="fa fa-download")
								label(class="hidden-xs") Export
					// /.box-header
					div(class="box-body")
						table#tablekelas(class="table table-bordered table-striped")
							thead
								tr
									th(width="5px") #
									th Kode Kelas
									th Nama Kelas
									th(width="80px") Action
							tbody
								each d,index in data
									tr
										td=index+1
										td=d.kode
										td=d.nama
										td
											a(href="/admin/form-kelas/"+d._id class="btn btn-flat btn-xs bg-yellow")
												i(class="fa fa-edit")
											form(action=`/admin/kelas/${d._id}?_method=DELETE` method="post" style="display:inline")
												button(onclick="return confirm('Anda yakin akan menghapus data ini?')" type="submit" class="btn btn-flat btn-xs bg-maroon")
													i(class="fa fa-trash")
			
			#importkelas(class="modal fade" style="display: none;")
				div(class="modal-dialog")
					div(class="modal-content")
						div(class="modal-header bg-blue")
							button(class="close" data-dismiss="modal")
								span(aria-hidden="true")
									i(class="glyphicon glyphicon-remove")
							h3(class="modal-title") Tambah Kelas
						div(class="modal-body")
							form(action="/admin/import-kelas" method="post" enctype="multipart/form-data")
								div(class="form-group")
									label Pilih File
									input(type="file" name="file" class="form-control" required="true")
								p
									| Sebelum meng-import pastikan file yang akan anda import sudah dalam bentuk
									| Ms. Excel 97-2003 Workbook (.xls) dan format penulisan harus sesuai dengan
									| yang telah ditentukan.
									br
								a(href="/admin/format-kelas" download)
									i(class="fa fa-file-excel-o")
									| Download
									| Format
								div(class="modal-footer")
									div(class="box-tools pull-right ")
										button(type="submit" name="importmapel" class="btn btn-sm btn-flat btn-success")
											i(class="fa fa-upload")
											| Simpan
										button(type="button" class="btn btn-default btn-sm pull-left" data-dismiss="modal") Close