doctype html
html(lang="en")
	head
		title
			| Login
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="shortcut icon" href="/dist/img/tutwuri.png")
		link(rel="stylesheet" type="text/css" href="/dist/bootstrap/css/bootstrap.min.css")
		link(rel="stylesheet" type="text/css" href="/plugins/font-awesome/css/font-awesome.css")
		link(rel="stylesheet" type="text/css" href="/plugins/animate/animate.min.css")
		link(rel="stylesheet" type="text/css" href="/dist/bootstrap/css/util.css")
		link(rel="stylesheet" type="text/css" href="/dist/bootstrap/css/main.css")
		style.
			.judul {
			position: absolute;
			right: 20px;
			top: 20px;
			z-index: 2;
			color: #000;
			}
			
			.logo {
			position: absolute;
			left: 20px;
			top: 20px;
			z-index: 2;
			color: #000;
			-webkit-filter: drop-shadow(5px 5px 5px #222);
			filter: drop-shadow(5px 5px 5px #222);
			}
			
			.candy {
			position: absolute;
			left: 10px;
			top: 90%;
			z-index: 3;
			color: #000;
			-webkit-filter: drop-shadow(5px 5px 5px #222);
			filter: drop-shadow(5px 5px 5px #222);
			opacity: 0.4;
			filter: alpha(opacity=40);
			}
			
			.candy:hover {
			opacity: 1.0;
			filter: alpha(opacity=100);
			}
			
			.wrap-login100-form-btn {
			display: block;
			position: relative;
			z-index: 1;
			border-radius: 0px;
			overflow: hidden;
			}
	body(style="background-color: #999999;")
		div(class="limiter")
			div(class="container-login100")
				div(class="login100-more" style="background-image: url('/dist/img/bg-header.jpg');")
				div(class="wrap-login100 p-l-50 p-r-50 p-t-72 p-b-50" style="background-image: url('/dist/img/boxed-bg.png');")
					if message
						div(class="alert alert-"+message.type)
							button(type="button", class="close", data-dismiss="alert", aria-hidden="true") ×
							| #{message.message}
					span(class="animated flipInX login100-form-title")
						| Login
					span(class="animated flipInX") 
						strong Dinas Pendidikan Kabupaten Fakfak
					form(action="/admin/login" class="validate-form" method="post")
						div(class="wrap-input100 validate-input p-t-30" data-validate="Username is required")
							span(class="label-input100") Email
							input(class="input100" type="email" name="email" placeholder="Email...")
							span(class="focus-input100")
						div(class="wrap-input100 validate-input" data-validate="Password is required")
							span(class="label-input100") Password
							input(class="input100" type="password" name="password" placeholder="*************")
							span(class="focus-input100")
						div(class="container-login100-form-btn")
							div(class="wrap-login100-form-btn")
								div(class="login100-form-bgbtn")
								button(type="submit" class="login100-form-btn") Login
		script(src="/plugins/jQuery/jquery-3.2.1.min.js")
		script(src="/dist/bootstrap/js/bootstrap.min.js")
		script(src="/plugins/jQuery/main.js")