extends ../template/adminTemplate.pug

block content
	section(class="content")
		div(class="row")
			div(class="col-md-12")
				div(class="row")
					div(class="col col-xs-4 col-md-3 col-lg-2")
						select(class="form-control select2 kelas" name="kelas")
							each d in kelas
								option(value=d) #{d}
					div(class="col-xs-8 col-md-4 col-lg-3")
						div(class="input-group")
							select(class="form-control select2 ujian" name="mapel")
								each d in mapel
									option(value=d.nama) #{d.nama}
							span(class="input-group-btn")
								buttin(onclick="cari()" class="btn btn-primary") 
									i(class="icon-left fa fa-search")
									|  Cari
			div(class="col-md-12")
				div(class="box box-solid")
					div(class="box-header with-border")
						h3(class="box-title")
							| NILAI UJIAN
						div(class="box-tools pull-right btn-group")
							//
								<button class='btn btn-sm btn-primary' onclick="PrintNilai()"><i
								class='fa fa-print'></i> Print</button>
								<a class='btn btn-sm btn-success' href='#download'><i
								class='fa fa-download'></i> Download Excel</a>
								<a class='btn btn-sm btn-danger' href='#'><i class='fa fa-times'></i></a>
					// /.box-header
					div(class="box-body")
						div(class="row" style="padding-bottom: 10px;")
							// mryes
							div(class="col-md-3")
								
							div(class="col-md-3")
								
							div(class="col-md-3")
								
							// mryes
						div(class="table-responsive")
							table#tablenilaix(class="table table-bordered table-striped")
								thead
									tr
										th(width="5px") #
										th(width="50px") Kelas
										th(width="100px") NISN
										th(width="100px") No Peserta
										th Nama
										th(width="100px") Nilai
								tbody
									each d, index in data
										tr
											td=index+1
											if d.student.length > 0
												td=d.student[0].kelas
											else
												td
											td=d.nisn
											if d.student.length > 0
												td=d.student[0].no_peserta
											else
												td
											if d.student.length > 0
												td=d.student[0].nama
											else
												td
											td=d.nilai
block script
	script.
		function cari(){
			window.location.href = `/admin/nilai-ujian?kelas=${$('select[name=kelas] option').filter(':selected').val()}&mapel=${$('select[name=mapel] option').filter(':selected').val()}`;
		}