extends ../template/adminTemplate.pug

block content
	section(class="content")
		div(class="row")
			div(class="col-md-12")
				div(class="box box-solid")
					if message
						div(class="alert alert-"+message.type)
							button(type="button", class="close", data-dismiss="alert", aria-hidden="true") ×
							| #{message.message}
		a(href="/admin/backup" target="_blank" class="btn btn-sm btn-primary") Backup Data
		a(data-toggle="modal" data-backdrop="static" data-target="#importpeserta" class="btn btn-sm btn-success") Restore Data
	#importpeserta( data-toggle="modal" class="modal fade" style="display: none;")
		div(class="modal-dialog")
			div(class="modal-content")
				div(class="modal-header bg-blue")
					button(class="close" data-dismiss="modal")
						span(aria-hidden="true")
							i(class="glyphicon glyphicon-remove")
					h3(class="modal-title") Import File Restore
				div(class="modal-body")
					form(action="/admin/restore" method="post" enctype="multipart/form-data")
						div(class="form-group")
							label Pilih File
							input(type="file" name="file" class="form-control" required="true" multiple)
							p *Jika nama file sama, maka file akan ditimpa
						div(class="modal-footer")
							div(class="box-tools pull-right ")
								button(type="submit" name="importmapel" class="btn btn-sm btn-flat btn-success")
									i(class="fa fa-upload")
									|  Simpan
								button(type="button" class="btn btn-default btn-sm pull-left" data-dismiss="modal") Close