extends ../template/adminTemplate.pug

block content
	section(class="content")
		div(class="row")
			div(class="col-md-12")
				div(class="box box-solid")
					if message
						div(class="alert alert-"+message.type)
							button(type="button", class="close", data-dismiss="alert", aria-hidden="true") ×
							| #{message.message}
					div(class="box-header with-border ")
						h3(class="box-title")
							i(class="fas fa-user-friends fa-fw   ")
							|  Peserta Ujian
						div(class="box-tools pull-right")
							a(href="/admin/form-peserta" data-toggle="modal" class="btn btn-sm btn-primary")
								i(class="glyphicon glyphicon-plus")
								span(class="hidden-xs")  Tambah
							a(data-toggle="modal" data-backdrop="static" data-target="#importpeserta" class="btn btn-sm btn-success")
								i(class="fa fa-upload")
								span(class="hidden-xs")  Import
							a(href="/admin/export-peserta" target="_blank"  class="btn btn-sm btn-danger")
								i(class="fa fa-download")
								span(class="hidden-xs")  Export
					div(class="box-body")
						div(class="table-responsive")
							table#tableSiswa(class="table table-bordered table-striped")
								thead
									tr
										th(style="width: 120px;")
											div(style="width: 120px; text-align: center;") No Ujian
										th(style="width: 200px;")
											div(style="width: 200px; text-align: center;") Nama Peserta
										th(style="width: 100px;")
											div(style="width: 100px; text-align: center;") Jenjang
										th(style="width: 50px;")
											div(style="width: 50px; text-align: center;") Kelas
										th(style="width: 50px;")
											div(style="width: 50px; text-align: center;") Ruangan
										th(style="width: 100px;")
											div(style="width: 100px; text-align: center;") Status
										th(style="width: 100px;")
											div(style="width: 100px; text-align: center;") Jenis Kelamin
										th(style="width: 120px;")
											div(style="width: 120px; text-align: center;") Tempat Lahir
										th(style="width: 100px;")
											div(style="width: 100px; text-align: center;") Tanggal Lahir
										th(style="width: 150px;")
											div(style="width: 150px; text-align: center;") Nama Orang Tua
										th(style="width: 80px;")
											div(style="width: 80px; text-align: center;") NISN
										th(style="width: 60px;")
											div(style="width: 60px; text-align: center;") Aksi
								tbody
									each d in data
										tr
											td=d.no_peserta
											td=d.nama
											td=d.jenjang
											td=d.kelas
											td=d.ruangan
											td=d.status
											td=d.jenis_kelamin
											td=d.tempat_lahir
											td=d.tanggal_lahir
											td=d.nama_orang_tua
											td=d.nisn
											td
												a(href="/admin/form-peserta/"+d._id class="btn btn-flat btn-xs bg-yellow")
													i(class="fa fa-edit")
												form(action=`/admin/peserta/${d._id}?_method=DELETE` method="post" style="display:inline")
													button(onclick="return confirm('Anda yakin akan menghapus data ini?')" type="submit" class="btn btn-flat btn-xs bg-maroon")
														i(class="fa fa-trash")
						#importpeserta(class="modal fade" style="display: none;")
							div(class="modal-dialog")
								div(class="modal-content")
									div(class="modal-header bg-blue")
										button(class="close" data-dismiss="modal")
											span(aria-hidden="true")
												i(class="glyphicon glyphicon-remove")
										h3(class="modal-title") Import Peserta Ujian
									div(class="modal-body")
										form(action="/admin/import-peserta" method="post" enctype="multipart/form-data")
											div(class="form-group")
												label Pilih File
												input(type="file" name="file" class="form-control" required="true")
											p
												| Sebelum meng-import pastikan file yang akan anda import sudah dalam bentuk
												| Ms. Excel 97-2003 Workbook (.xlsx) dan format penulisan harus sesuai dengan
												| yang telah ditentukan.
												br
											a(href="/admin/format-peserta" download)
												i(class="fa fa-file-excel-o")
												| Download
												| Format
											div(class="modal-footer")
												div(class="box-tools pull-right ")
													button(type="submit" name="importmapel" class="btn btn-sm btn-flat btn-success")
														i(class="fa fa-upload")
														| Simpan
													button(type="button" class="btn btn-default btn-sm pull-left" data-dismiss="modal") Close
block script
	script.
		$("#tableSiswa").DataTable({
			select: true
		});