extends ../template/adminTemplate.pug

block content
	section(class="content")
		div(class="row")
			div(class="col-md-12")
				form(action="/admin/ruangan"+action method="post")
					div(class="box box-success")
						div(class="box-header with-border")
							h3(class="box-title")=title
							div(class="box-tools pull-right btn-group")
								button(type="submit" class="btn btn-sm btn-success")
									i(class="fa fa-check")
									| Simpan
								a(href="/admin/ruangan" class="btn btn-sm btn-danger" title="Batal")
									i(class="fa fa-times")
						// /.box-header
						div(class="box-body")
							div(class="form-group")
								div(class="row")
									div(class="col-md-4")
										label Kode Ruangan
										input(type="text" name="kode" class="form-control" required="true" value=(data)?data.kode:"")
							div(class="form-group")
								div(class="row")
									div(class="col-md-6")
										label Nama Ruangan
										input(type="text" name="nama" class="form-control" required="true" value=(data)?data.nama:"")