extends ../template/adminTemplate.pug

block content
	section(class="content")
		div(class="row")
			div(class="col-md-12")
				div(class="box box-solid")
					div(class="box-header with-border")
						h3(class="box-title")
							i(class="fas fa-file-signature fa-fw   ")
							| DATA UJIAN
						div(class="box-tools pull-right btn-group")
					// /.box-header
					div(class="box-body")
						div(class="row" style="padding-bottom: 10px;")
							// mryes
							div(class="col-md-3")
								select(class="form-control select2 kelas" name="kelas")
									each d in kelas
										option(value=d) #{d}
							div(class="col-md-3")
								select(class="form-control select2 ujian" name="kode")
									option(value="UTS") UTS
									option(value="UAS") UAS
									option(value="US") US
							div(class="col-md-3")
								button(onclick="cari()" class="btn btn-primary") Cari Nilai
							// mryes
block script
	script.
		function cari(){
			window.location.href = `/admin/detail-nilai?kelas=${$('select[name=kelas] option').filter(':selected').val()}&kode=${$('select[name=kode] option').filter(':selected').val()}`;
		}