extends ../template/adminTemplate.pug
block styles
	link(href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css", rel="stylesheet")
	link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css", integrity="sha512-Velp0ebMKjcd9RiCoaHhLXkR1sFoCCWXNp6w4zj1hfMifYB5441C+sKeBl/T/Ka6NjBiRfBBQRaQq65ekYz3UQ==", crossorigin="anonymous", referrerpolicy="no-referrer")
block content
	section(class="content")
		div(class="row")
			div(class="col-md-12")
				form(action="/admin/data-soal"+action method="post")
					div(class="box box-solid")
						div(class="box-header with-border bg-blue")
							div(class="btn-group" style="margin-top:-5px")
								a(class="btn btn-sm btn-primary") Nama Mapel 
								a(class="btn btn-sm btn-primary") #{bankSoal.mapel}
							div(class="box-tools pull-right btn-group")
								button(type="submit" class="btn btn-sm btn-primary")
									i(class="fa fa-check")
									| Simpan
								a(href="/admin/data-soal/"+bankSoal._id class="btn btn-sm btn-danger")
									i(class="fa fa-times")
						div(class="box-body")
							div(class="row")
								div(class="col-md-6")
									div(class="box box-info")
										div(class="box-body pad")
											form
												if data
													textarea#editor2(name="isi_soal" class="editor1") !{data.isi_soal}
												else
													textarea#editor2(name="isi_soal" class="editor1")
									div(class="col-md-6")
										div(class="form-group")
											if data
												if data.file
													a(href="/admin/file-pendukung/"+data.file data-toggle="lightbox" data-type="image" class="img_isi_soal")
														img(src="/admin/file-pendukung/"+data.file class="img-fluid" style="max-width:100px;")
												else
													a(href="/admin/file-pendukung/" data-toggle="lightbox" data-type="image" class="img_isi_soal" hidden)
														img(src="/admin/file-pendukung/" class="img-fluid" style="max-width:100px;")
											else
												a(href="/admin/file-pendukung/" data-toggle="lightbox" data-type="image" class="img_isi_soal" hidden)
													img(src="/admin/file-pendukung/" class="img-fluid" style="max-width:100px;")
											br
											label Gambar
											select(name="file" class="form-control select2 select_isi_soal" style="width:100%" required="true")
												option() -
												each d in filePendukung
													if data
														if data.file == d.nama
															option(value=d.nama selected) #{d.nama}
														else
															option(value=d.nama) #{d.nama}
													else
														option(value=d.nama) #{d.nama}
								div(class="col-md-6")
									#accordion(class="box-group")
										div(class="panel box box-solid")
											div(class="box-header with-border")
												h4(class="box-title")
													a(data-toggle="collapse" data-parent="#accordion" href="#collapseA" aria-expanded="false" class="collapsed")
														| PILIHAN JAWABAN A
												div(class="box-tools pull-right")
													label
														if data
															if data.jawaban == "A"
																input(type="radio" name="jawaban" value="A" required="true" checked)
															else
																input(type="radio" name="jawaban" value="A" required="true")
														else
															input(type="radio" name="jawaban" value="A" required="true")
														|  Pilihan A
											#collapseA(class="panel-collapse collapse" aria-expanded="false" style="height: 0px;")
												div(class="box-body")
													div(class="form-group")
														if data
															textarea#editorPilihanA(name="pilihanA" class="editor1 pilihan form-control") !{data.pilihanA}
														else
															textarea#editorPilihanA(name="pilihanA" class="editor1 pilihan form-control")
													div(class="form-group")
														if data
															if data.imgPilihanA
																a(href="/admin/file-pendukung/"+data.imgPilihanA data-toggle="lightbox" data-type="image" class="img_pilihan_a")
																	img(src="/admin/file-pendukung/"+data.imgPilihanA class="img-fluid" style="max-width:100px;")
															else
																a(href="/admin/file-pendukung/" data-toggle="lightbox" data-type="image" class="img_pilihan_a" hidden)
																	img(src="/admin/file-pendukung/" class="img-fluid" style="max-width:100px;")
														else
															a(href="/admin/file-pendukung/" data-toggle="lightbox" data-type="image" class="img_pilihan_a" hidden)
																img(src="/admin/file-pendukung/" class="img-fluid" style="max-width:100px;")
														br
														label Gambar A
														select(name="imgPilihanA" class="form-control select2 select_pilihan_a" style="width:100%" required="true")
															option() -
															each d in filePendukung
																if data
																	if data.imgPilihanA == d.nama
																		option(value=d.nama selected) #{d.nama}
																	else
																		option(value=d.nama) #{d.nama}
																else
																	option(value=d.nama) #{d.nama}
										div(class="panel box box-solid")
											div(class="box-header with-border")
												h4(class="box-title")
													a(data-toggle="collapse" data-parent="#accordion" href="#collapseB" aria-expanded="false" class="collapsed")
														| PILIHAN JAWABAN B
												div(class="box-tools pull-right")
													label
														if data
															if data.jawaban == "B"
																input(type="radio" name="jawaban" value="B" required="true" checked)
															else
																input(type="radio" name="jawaban" value="B" required="true")
														else
															input(type="radio" name="jawaban" value="B" required="true")
														|  Pilihan B
											#collapseB(class="panel-collapse collapse" aria-expanded="false" style="height: 0px;")
												div(class="box-body")
													div(class="form-group")
														if data
															textarea(name="pilihanB" class="editor1 pilihan form-control") !{data.pilihanB}
														else
															textarea(name="pilihanB" class="editor1 pilihan form-control")
													div(class="form-group")
														if data
															if data.imgPilihanB
																a(href="/admin/file-pendukung/"+data.imgPilihanB data-toggle="lightbox" data-type="image" class="img_pilihan_b")
																	img(src="/admin/file-pendukung/"+data.imgPilihanB class="img-fluid" style="max-width:100px;")
															else
																a(href="/admin/file-pendukung/" data-toggle="lightbox" data-type="image" class="img_pilihan_b" hidden)
																	img(src="/admin/file-pendukung/" class="img-fluid" style="max-width:100px;")
														else
															a(href="/admin/file-pendukung/" data-toggle="lightbox" data-type="image" class="img_pilihan_b" hidden)
																img(src="/admin/file-pendukung/" class="img-fluid" style="max-width:100px;")
														br
														label Gambar B
														select(name="imgPilihanB" class="form-control select2 select_pilihan_b" style="width:100%" required="true")
															option() -
															each d in filePendukung
																if data
																	if data.imgPilihanB == d.nama
																		option(value=d.nama selected) #{d.nama}
																	else
																		option(value=d.nama) #{d.nama}
																else
																	option(value=d.nama) #{d.nama}
										div(class="panel box box-solid")
											div(class="box-header with-border")
												h4(class="box-title")
													a(data-toggle="collapse" data-parent="#accordion" href="#collapseC" aria-expanded="false" class="collapsed")
														| PILIHAN JAWABAN C
												div(class="box-tools pull-right")
													label
														if data
															if data.jawaban == "C"
																input(type="radio" name="jawaban" value="C" required="true" checked)
															else
																input(type="radio" name="jawaban" value="C" required="true")
														else
															input(type="radio" name="jawaban" value="C" required="true")
														|  Pilihan C
											#collapseC(class="panel-collapse collapse" aria-expanded="false" style="height: 0px;")
												div(class="box-body")
													div(class="form-group")
														if data
															textarea(name="pilihanC" class="editor1 pilihan form-control") !{data.pilihanC}
														else
															textarea(name="pilihanC" class="editor1 pilihan form-control")
													div(class="form-group")
														if data
															if data.imgPilihanC
																a(href="/admin/file-pendukung/"+data.imgPilihanC data-toggle="lightbox" data-type="image" class="img_pilihan_c")
																	img(src="/admin/file-pendukung/"+data.imgPilihanC class="img-fluid" style="max-width:100px;")
															else
																a(href="/admin/file-pendukung/" data-toggle="lightbox" data-type="image" class="img_pilihan_c" hidden)
																	img(src="/admin/file-pendukung/" class="img-fluid" style="max-width:100px;")
														else
															a(href="/admin/file-pendukung/" data-toggle="lightbox" data-type="image" class="img_pilihan_c" hidden)
																img(src="/admin/file-pendukung/" class="img-fluid" style="max-width:100px;")
														br
														label Gambar C
														select(name="imgPilihanC" class="form-control select2 select_pilihan_c" style="width:100%" required="true")
															option() -
															each d in filePendukung
																if data
																	if data.imgPilihanC == d.nama
																		option(value=d.nama selected) #{d.nama}
																	else
																		option(value=d.nama) #{d.nama}
																else
																	option(value=d.nama) #{d.nama}
										div(class="panel box box-solid")
											div(class="box-header with-border")
												h4(class="box-title")
													a(data-toggle="collapse" data-parent="#accordion" href="#collapseD" aria-expanded="false" class="collapsed")
														| PILIHAN JAWABAN D
												div(class="box-tools pull-right")
													label
														if data
															if data.jawaban == "D"
																input(type="radio" name="jawaban" value="D" required="true" checked)
															else
																input(type="radio" name="jawaban" value="D" required="true")
														else
															input(type="radio" name="jawaban" value="D" required="true")
														|  Pilihan D
											#collapseD(class="panel-collapse collapse" aria-expanded="false" style="height: 0px;")
												div(class="box-body")
													div(class="form-group")
														if data
															textarea(name="pilihanD" class="editor1 pilihan form-control") !{data.pilihanD}
														else
															textarea(name="pilihanD" class="editor1 pilihan form-control")
													div(class="form-group")
														if data
															if data.imgPilihanD
																a(href="/admin/file-pendukung/"+data.imgPilihanD data-toggle="lightbox" data-type="image" class="img_pilihan_d")
																	img(src="/admin/file-pendukung/"+data.imgPilihanD class="img-fluid" style="max-width:100px;")
															else
																a(href="/admin/file-pendukung/" data-toggle="lightbox" data-type="image" class="img_pilihan_d" hidden)
																	img(src="/admin/file-pendukung/" class="img-fluid" style="max-width:100px;")
														else
															a(href="/admin/file-pendukung/" data-toggle="lightbox" data-type="image" class="img_pilihan_d" hidden)
																img(src="/admin/file-pendukung/" class="img-fluid" style="max-width:100px;")
														br
														label Gambar D
														select(name="imgPilihanD" class="form-control select2 select_pilihan_d" style="width:100%" required="true")
															option(selected) - 
															each d in filePendukung
																if data
																	if data.imgPilihanD == d.nama
																		option(value=d.nama selected) #{d.nama}
																	else
																		option(value=d.nama) #{d.nama}
																else
																	option(value=d.nama) #{d.nama}
block script
	script(src="/plugins/select2/select2.min.js")
	script(src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js", integrity="sha512-Y2IiVZeaBwXG1wSV7f13plqlmFOx8MdjuHyYFVoYzhyRr3nH/NMDjTBSswijzADdNzMyWNetbLMfOpIPl6Cv9g==", crossorigin="anonymous", referrerpolicy="no-referrer")
	script.
		$(document).on('click', '[data-toggle="lightbox"]', function(event) {
			event.preventDefault();
			$(this).ekkoLightbox();
		});
		$(document).ready(function() {
			$('.select_isi_soal').on('change', function() {
				if(this.value == "-"){
					$(".img_isi_soal").attr( "hidden", "" );
				}else{
					$(".img_isi_soal").attr( "href", "/admin/file-pendukung/"+this.value );
					$(".img_isi_soal img").attr( "src", "/admin/file-pendukung/"+this.value );
					$('.img_isi_soal').removeAttr('hidden')
				}
			});
			$('.select_pilihan_a').on('change', function() {
				if(this.value == "-"){
					$(".img_pilihan_a").attr( "hidden", "" );
				}else{
					$(".img_pilihan_a").attr( "href", "/admin/file-pendukung/"+this.value );
					$(".img_pilihan_a img").attr( "src", "/admin/file-pendukung/"+this.value );
					$('.img_pilihan_a').removeAttr('hidden')
				}
			});
			$('.select_pilihan_b').on('change', function() {
				if(this.value == "-"){
					$(".img_pilihan_b").attr( "hidden", "" );
				}else{
					$(".img_pilihan_b").attr( "href", "/admin/file-pendukung/"+this.value );
					$(".img_pilihan_b img").attr( "src", "/admin/file-pendukung/"+this.value );
					$('.img_pilihan_b').removeAttr('hidden')
				}
			});
			$('.select_pilihan_c').on('change', function() {
				if(this.value == "-"){
					$(".img_pilihan_c").attr( "hidden", "" );
				}else{
					$(".img_pilihan_c").attr( "href", "/admin/file-pendukung/"+this.value );
					$(".img_pilihan_c img").attr( "src", "/admin/file-pendukung/"+this.value );
					$('.img_pilihan_c').removeAttr('hidden')
				}
			});
			$('.select_pilihan_d').on('change', function() {
				if(this.value == "-"){
					$(".img_pilihan_d").attr( "hidden", "" );
				}else{
					$(".img_pilihan_d").attr( "href", "/admin/file-pendukung/"+this.value );
					$(".img_pilihan_d img").attr( "src", "/admin/file-pendukung/"+this.value );
					$('.img_pilihan_d').removeAttr('hidden')
				}
			});
			$('.select2').select2();
			
			$('.editor1').summernote({
				height: 200,
				disableDragAndDrop: true,
				codeviewFilter: false,
				codeviewIframeFilter: true,
				toolbar: [
					['style', ['hr','fontname','fontsize','color','bold','italic','underline','strikethrough','superscript','clear','style','ol','ul','paragraph','height']],				
				]
			});
			$('input.note-image-input').remove()
		});