//- extends layout

//- block content
//-   h1= message
//-   h2= error.status
//-   pre #{error.stack}
html
	head
		meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		title=title
	link(rel="stylesheet" href="/dist/css/notfound.css")
	body
		header(class="top-header")
		div
			div(class="starsec")
			div(class="starthird")
			div(class="starfourth")
			div(class="starfifth")
		div(class="lamp__wrap")
			div(class="lamp")
				div(class="cable")
				div(class="cover")
				div(class="in-cover")
					div(class="bulb")
				div(class="light")
		section(class="error")
			div(class="error__content")
				div(class="error__message message")
					h1(class="message__title")= message
					h1(class="message__title porterr")= error.status
					p(class="message__text") Maaf, halaman yang Anda cari tidak ditemukan di sini. Tautan yang Anda ikuti mungkin rusak atau tidak ada lagi. Silakan coba lagi, atau lihat milik kami.
				div(class="error__nav e-nav")
					a(href="/home" class="e-nav__link")
