doctype html
html(lang="en")
	head
		title=title 
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		// ===============================================================================================
		link(rel="icon" type="image/png" href="/dist/img/tutwuri.png")
		// ===============================================================================================
		link(rel="stylesheet" type="text/css" href="/dist/vendor/bootstrap/css/bootstrap.min.css")
		// ===============================================================================================
		link(rel="stylesheet" type="text/css" href="/dist/fonts/iconic/css/material-design-iconic-font.min.css")
		// ===============================================================================================
		link(rel="stylesheet" type="text/css" href="/dist/vendor/animate/animate.css")
		// ===============================================================================================
		link(rel="stylesheet" type="text/css" href="/dist/css/util.css")
		link(rel="stylesheet" type="text/css" href="/dist/css/main.css")
		// ===============================================================================================
		link(rel="stylesheet" href="/plugins/sweetalert2/dist/sweetalert2.min.css")
	body
		div(class="limiter")
			div(class="container-login100")
				div(class="animated flipInX wrap-login100" style="padding-top:30px")
					form#formlogin(action="/login" method="post" class="login100-form validate-form")
						span(class="animated infinite pulse delay-5s login100-form-title p-b-26 ")
							img(src="/dist/img/tutwuri.png" style="max-height:50px" class="img-responsive" alt="Responsive image")
						span(class=" login100-form-title p-b-26 ")
							| Login
						span(class="align-center font-15 p-b-15 ")
							| 
						div(class="animated flipInX delay-10s p-b-20")
							center Dinas Pendidikan Kabupaten Fakfak
						div(class="wrap-input100 validate-input" data-validate="Enter Username" required)
							input(class="input100" type="text" name="no_peserta" autocomplete="off")
							span(class="focus-input100" data-placeholder="Username")
						div(class="wrap-input100 validate-input" data-validate="Enter password")
							span(class="btn-show-pass")
								i(class="zmdi zmdi-eye")
							input(class="input100" type="password" name="password")
							span(class="focus-input100" data-placeholder="Password")
						div(class="container-login100-form-btn")
							div(class="wrap-login100-form-btn")
								div(class="login100-form-bgbtn")
								button(class="login100-form-btn")
									| Login
							p
								small Dinas Pendidikan
					if message
						div(class="alert alert-danger ")
							button(type="button", class="close", data-dismiss="alert", aria-hidden="true") ×
							i(class="icon fa fa-info") #{message}
		// ===============================================================================================
		script(src="/dist/vendor/jquery/jquery-3.2.1.min.js")
		// ===============================================================================================
		script(src="/dist/vendor/bootstrap/js/popper.js")
		script(src="/dist/vendor/bootstrap/js/bootstrap.min.js")
		// ===============================================================================================
		script(src="/plugins/sweetalert2/dist/sweetalert2.min.js")
		script(src="/dist/js/main.js")