extends ../template/siswaTemplate.pug

block content
	section(class="content")
		div(class="row")
			div(class="col-md-12")
				div(class="box box-solid")
					div(class="box-header with-border")
						h3(class="box-title")
							i(class="fas fa-edit")
							| Materi Siswa
					div(class="box-body")
						each d in data
							div(class="col-md-4")
								a(href="/lihat-materi/"+d._id)
									div(class="box box-widget widget-user-2")
										// Add the bg color to the header using any of the bg-* classes
										div(class="widget-user-header bg-gray " style="padding: 6px")
											div(class="widget-user-image")
												img(src="dist/img/soal.png" alt="image")
											// /.widget-user-image
											span(style="font-size: 20px")
												b #{d.mapel}
											p Guru : Nama Guru
											| #{d.terbit}
										div(class="box-footer")
											center
												| #{d.judul} 