extends ../template/siswaTemplate.pug

block content
	section(class="content")
		div(class="row")
			div(class="col-md-12")
				div(class="box box-solid")
					div(class="box-header with-border")
						h3(class="box-title")
							i(class="fas fa-file-signature    ")
							| Data Hasil Ujian
					// /.box-header
					div(class="box-body")
						div(class="nav-tabs-custom")
							div(class="tab-pane active" id="tab_1")
								div(class="alert alert-info" role="alert")
									strong Daftar Ujian yang sudah dikerjakan
								table#example1(class="table table-bordered table-striped")
									thead
										tr
											th(width="5px") #
											th Matapelajaran
											th Jenis Ujian
											th(width="100px") Nilai
									tbody
										each d,index in data
											tr
												td=index+1
												td=d.mapel
												td=d.kode_ujian
												td=d.nilai