extends ../template/siswaTemplate.pug

block content
	section(class="content")
		div(class="row")
			div(class="col-md-12")
				div(class="alert alert-info alert-dismissible")
					button(type="button" class="close" data-dismiss="alert" aria-hidden="true") ×
					i(class="icon fa fa-info")
					| Tombol ujian akan aktif bila waktu sudah sama dengan jadwal ujian,
					| Refresh browser atau tekan F5 jika waktu ujian belum aktif
			#boxtampil(class="col-md-12")
				#formjadwalujian(class="box box-solid")
					div(class="box-header with-border")
						h3(class="box-title")
							i(class="fas fa-calendar-alt    ")
							|  Jadwal Ujian
					// /.box-header
					div(class="box-body")
						each d in data
							div(class="col-md-4 animated tada")
								// Widget: user widget style 1
								div(class="box box-widget widget-user-2")
									// Add the bg color to the header using any of the bg-* classes
									div(class="widget-user-header bg-blue" style="padding: 6px")
										div(class="widget-user-image")
											img(src="dist/img/soal.png" alt="image")
										// /.widget-user-image
										h5(class="widget-user-usernam") #{d.banksoal[0].mapel}
										h5(class="widget-user-desc")
											i(class="fa fa-tag")
											|  #{d.kode}  
											i(class="fa fa-user")
											|  #{d.banksoal[0].kelas}  
									div(class="box-footer no-padding")
										ul(class="nav nav-stacked")
											li
												a(href="#")
													i(class="fa fa-clock-o")
													| Ujian Dimulai
													span(class="pull-right badge bg-green tgl_mulai" data-unixtime=d.tgl_mulai)
											li
												a(href="#")
													i(class="fa fa-clock-o")
													| Ujian Ditutup
													span(class="pull-right badge bg-red tgl_selesai" data-unixtime=d.tgl_selesai)
											li
												a(href="#")
													i(class="fa  fa-hourglass-1")
													| Durasi Ujian
													span(class="pull-right badge bg-purple") #{d.banksoal[0].jml_tampil} Soal / #{d.durasi} menit
											li
												a(href="#")
													i(class="fa fa-feed")
													| Status Ujian
													span(class="pull-right")
														if d.status == 0
															label(class="badge bg-yellow")  BELUM MULAI
														else if d.status == 1
															label(class="badge bg-green")  SEDANG BERJALAN
														else if d.status == 2
															label(class="badge bg-red")  SELESAI
										if d.isDone == 0 && d.status == 1
											center(style="padding: 8px")
												a(href="/mulai-ujian/"+d._id data-id="1" data-ids="1" class="btnmulaitest btn btn-block btn-sm btn-primary")
													i(class="fa fa-edit")
													| MULAI
block script
	script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/moment.min.js")
	script.
		$( document ).ready(function() {
			let mulai = $(".tgl_mulai").data("unixtime");
			let mulaiDate = moment(mulai).format('DD-MM-YYYY HH:mm');
			$(".tgl_mulai").html(mulaiDate);

			let selesai = $(".tgl_selesai").data("unixtime");
			let selesaiDate = moment(selesai).format('DD-MM-YYYY HH:mm');
			$(".tgl_selesai").html(selesaiDate);
		});