extends ../template/siswaTemplate.pug

block content
	section(class="content")
		div(class="row")
			div(class="col-md-12")
				div(class="box box-solid")
					div(class="box-header with-border")
						h3(class="box-title")
							i(class="fas fa-file-signature")
							| Detail Materi Siswa
					// /.box-header
					div(class="box-body")
						table(class="table table-bordered table-striped")
							tbody
								tr
									th(width="150") Mata Pelajaran
									td(width="10") :
									td #{data.mapel}
								tr
									th Tgl Publish
									td(width="10") :
									td #{data.terbit}
								if data.link_yt
									tr
										th Link YouTube
										td(width="10") :
										td 
											a(href=data.link_yt, target="_blank", rel="noopener noreferrer") #{data.link_yt}
						center
							div(class="callout")
								strong
									h3 #{data.judul}
						div(class="col-md-12") !{data.isi}
						if data.file
							hr
							a(href="/file/"+data._id target="_blank" class="btn btn-sm btn-primary") Download materi
