extends ../template/siswaTemplate.pug

block content
	section(class="content")
		div(class="row")
			div(class="col-md-3")
			div(class="col-md-6")
				div(class="box box-solid")
					div(class="box-header")
						h3(class="box-title") Konfirmasi Tes
						div(class="box-title pull-right")
							a(href="/jadwal-ujian")
								span(class="btn btn-sm btn-default") Kembali
					div(class="box-body")
						div(class="table-responsive")
							form#formmulaiujian(action= method="post")
								input(type="hidden" value="1" name="ids")
								input(type="hidden" value="2" name="idm")
								table(class="table no-margin")
									tbody
										tr
											td
												b Nama Tes
												br
												small(class="label bg-red") #{data[0].kode}
												small(class="label bg-purple") #{data[0].banksoal[0].mapel}
												small(class="label bg-blue") #{data[0].banksoal[0].kelas}
										tr
											td
												b Jumlah Soal
												br
												small(class="label bg-purple") #{data[0].banksoal[0].jml_tampil} Pilihan Ganda
										tr
											td
												b Tanggal Waktu Tes
												br
												small(class="label bg-green tgl_mulai" data-unixtime=data[0].tgl_mulai)
										tr
											td
												b Guru Pengampu
												br
												small(class="label bg-red") #{data[0].banksoal[0].nama_guru}
										tr
											td
												b Alokasi Waktu Tes
												br
												small(class="label bg-blue") #{data[0].durasi} menit
										tr
											td
												a(href="/mulai/"+data[0]._id class="btn btn-success btn-block") Mulai Test
block script
	script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/moment.min.js")
	script.
		$( document ).ready(function() {
			let mulai = $(".tgl_mulai");
			for (let i = 0; i < mulai.length; i++) {
				let mulaiDate = moment($(mulai[i]).data("unixtime")).format('DD-MM-YYYY HH:mm:ss');
				$(mulai[i]).html(mulaiDate);
			}

			let selesai = $(".tgl_selesai");
			for (let i = 0; i < selesai.length; i++) {
				let selesaiDate = moment($(selesai[i]).data("unixtime")).format('DD-MM-YYYY HH:mm:ss');
				$(selesai[i]).html(selesaiDate);
			}
		});