extends ../template/ujianTemplate.pug
block styles
	link(href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css", rel="stylesheet")
	link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css", integrity="sha512-Velp0ebMKjcd9RiCoaHhLXkR1sFoCCWXNp6w4zj1hfMifYB5441C+sKeBl/T/Ka6NjBiRfBBQRaQq65ekYz3UQ==", crossorigin="anonymous", referrerpolicy="no-referrer")
block content  
	section(class="content")
		div(class="row")
			div(class="col-md-1")
			div(class="col-md-10")
				div(class="box box-solid" style="box-shadow: 0 1px 15px 5px rgba(0, 0, 0, 0.25);")
					div(class="box-header with-border")
						div(class="box-title pull-left")
							div(class="btn btn-default")
								span(style="font-size:20px") Soal Nomor
						div(class="box-title pull-right")
							div(class="btn btn-default")
								span(class="fa fa-clock")
								span(style="font-size:20px") 
								span#countdown(style="font-size:20px") 00 : 00 : 00
					// /.box-header
					div(class="nav-tabs-custom")
						div(class="box-header with-border bg-info text-bold")
							div(class="btn-group")
								each d,index in data
									a(href="#soal"+(index+1) data-toggle="tab" style="width:40px;" aria-expanded="true" class="number-active btn ") #{index+1}
								//- a(href="#soal2" data-toggle="tab" aria-expanded="true" class="btn bg-purple")  2
						form(id="ujian" action="/selesai/"+schedule._id method="post")
							div(class="tab-content")
								each d,index in data
									div(id="soal"+(index+1) class="tab-pane")
										div(class="box-body")
											div(class="row")
												div(class="col-md-12")
													div(class="callout soal" style="font-size: 12pt;")
														div(class="soaltanya animated fadeIn") !{d.isi_soal}
														if d.file
															//- img(src="/contents/"+d.file )
															a(href="/contents/"+d.file data-toggle="lightbox" data-type="image" class="img_isi_soal")
																img(src="/contents/"+d.file class="img-fluid" style="max-width:100px;")
														input(type="hidden" name=`soal[${index}][soal]` value=d._id)
													div(class="col-md-12")
												div(class="col-md-12")
													table(width="100%" class="table table-striped table-hover")
														tbody
															tr
																td(width="30px")
																	input(class="radio-label" type="radio" name=`soal[${index}][jawaban]` value="A")
																td(style="vertical-align:middle;") !{d.pilihanA}
																if d.imgPilihanA
																	tr
																		td
																		td(style="vertical-align:middle;")
																			a(href="/contents/"+d.imgPilihanA data-toggle="lightbox" data-type="image" class="img_isi_soal")
																				img(src="/contents/"+d.imgPilihanA class="img-fluid" style="max-width:100px;")
															tr
																td
																	input(class="radio-label" type="radio" name=`soal[${index}][jawaban]` value="B")
																td(style="vertical-align:middle;") !{d.pilihanB}
																if d.imgPilihanB
																	tr
																		td
																		td(style="vertical-align:middle;")
																			a(href="/contents/"+d.imgPilihanB data-toggle="lightbox" data-type="image" class="img_isi_soal")
																				img(src="/contents/"+d.imgPilihanB class="img-fluid" style="max-width:100px;")
															tr
																td
																	input(class="radio-label" type="radio" name=`soal[${index}][jawaban]` value="C")
																td(style="vertical-align:middle;") !{d.pilihanC}
																if d.imgPilihanC
																	tr
																		td
																		td(style="vertical-align:middle;")
																			a(href="/contents/"+d.imgPilihanC data-toggle="lightbox" data-type="image" class="img_isi_soal")
																				img(src="/contents/"+d.imgPilihanC class="img-fluid" style="max-width:100px;")
															tr
																td
																	input(class="radio-label" type="radio" name=`soal[${index}][jawaban]` value="D")
																td(style="vertical-align:middle;") !{d.pilihanD}
																if d.imgPilihanD
																	tr
																		td
																		td(style="vertical-align:middle;")
																			a(href="/contents/"+d.imgPilihanD data-toggle="lightbox" data-type="image" class="img_isi_soal")
																				img(src="/contents/"+d.imgPilihanD class="img-fluid" style="max-width:100px;")
										div(class="box-footer navbar-fixed-bottom")
											table(width="100%")
												tbody
													tr
														td(style="text-align:center")
															if index > 0
																a(href="#soal"+(index) data-toggle="tab" aria-expanded="true" onclick=`aktifkanBtn(${index})` class="btn bg-primary")
																	i(class="fas fa-chevron-circle-left")
																	span(class="hidden-xs")  Soal Sebelumnya
																i#spin-prev(class="fa fa-spin fa-spinner" style="display:none;")
															else
																a(href="#soal"+(index+1) data-toggle="tab" aria-expanded="true" onclick=`aktifkanBtn(${index+1})` class="btn bg-primary")
																	i(class="fas fa-chevron-circle-left")
																	span(class="hidden-xs")  Soal Sebelumnya1
																i#spin-prev(class="fa fa-spin fa-spinner" style="display:none;")
														td(style="text-align:center")
															button(type="submit" form="ujian" class="done-btn btn btn-danger")
																i(class="fas fa-flag-checkered")
																span(class="hidden-xs")  TEST SELESAI
														td(style="text-align:center")
															if index+1 < data.length
																i#spin-next(class="fa fa-spin fa-spinner" style="display:none;")
																a(href="#soal"+(index+2) data-toggle="tab" aria-expanded="true" onclick=`aktifkanBtn(${index+2})` class="btn bg-primary")
																	span(class="hidden-xs")  Soal Selanjutnya
																	i(class="fas fa-chevron-circle-right")
															else
																i#spin-next(class="fa fa-spin fa-spinner" style="display:none;")
																a(href="#soal"+(index+1) data-toggle="tab" aria-expanded="true" onclick=`aktifkanBtn(${index+1})` class="btn bg-primary")
																	span(class="hidden-xs")  Soal Selanjutnya
																	i(class="fas fa-chevron-circle-right")

block script
	script(src="/plugins/select2/select2.min.js")
	script(src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js", integrity="sha512-Y2IiVZeaBwXG1wSV7f13plqlmFOx8MdjuHyYFVoYzhyRr3nH/NMDjTBSswijzADdNzMyWNetbLMfOpIPl6Cv9g==", crossorigin="anonymous", referrerpolicy="no-referrer")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/moment.min.js")
	script.
		$(document).ready(function () {
			$('.number-active').click(function(e) {
				$('.number-active.bg-primary').removeClass('bg-primary');
				var $parent = $(this);
				$parent.addClass('bg-primary');
				e.preventDefault();
			});
		});
		$(document).on('click', '[data-toggle="lightbox"]', function(event) {
			event.preventDefault();
			$(this).ekkoLightbox();
		});
		function aktifkanBtn(x){
			$('.number-active.bg-primary').removeClass('bg-primary');
			$(`a.number-active:nth-child(${x})`).addClass('bg-primary');
		}
		aktifkanBtn(1)
		const eventTime = moment(parseInt('#{schedule.tgl_selesai}')).format("X");
		$("#soal1").addClass("active");
		$(document).ready(function() {
			const currentTime = moment().format("X");
			const diffTime = eventTime - currentTime;
			let duration = moment.duration(diffTime * 1000, 'milliseconds');
			const interval = 1000;
			const countdown = document.getElementById('countdown')
			let timer;

			function showRemaining(){
				duration = moment.duration(duration - interval, 'milliseconds');
				if(duration.seconds() < 0) {
					clearInterval(timer);
				}

				if(duration.hours() < 10){ countdown.innerHTML = "0"+duration.hours() + ' : ' }
				else{ countdown.innerHTML = duration.hours() + ' : '}

				if(duration.minutes() < 10){ countdown.innerHTML += "0"+duration.minutes() + ' : ' }
				else{ countdown.innerHTML += duration.minutes() + ' : ' }

				if(duration.seconds() < 10){ countdown.innerHTML += "0"+duration.seconds() }
				else{ countdown.innerHTML += duration.seconds() }
			}

			timer = setInterval(showRemaining, 1000);
		})