extends ../template/superadminTemplate.pug

block content
	section(class="content")
		div(class="row")
			div(class="col-md-12")
				form(action="" method="post")
					div(class="box box-success")
						div(class="box-header with-border")
							h3(class="box-title")=title
							div(class="box-tools pull-right btn-group")
								button(type="submit" class="btn btn-sm btn-success")
									i(class="fa fa-check")
									| Simpan
								a(href="/superadmin/peserta" class="btn btn-sm btn-danger" title="Batal")
									i(class="fa fa-times")
						// /.box-header
						div(class="box-body")
							div(class="form-group")
								select(name="mapel" class="form-control" style="width:100%" required)
									option Pilih Mata Pelajaran
									option(value="Bahasa Indonesia") Bahasa Indonesia
									option(value="Kimia") Kimia
							div(class="form-group")
								input(type="text" class="form-control" name="judul" aria-describedby="helpId" placeholder="Judul materi" required)
							div(class="form-group")
								textarea(name="isimateri" class="editor1" rows="10" cols="80" style="width:100%;")
							div(class="form-group")
								div(class="row")
									div(class="col-md-4")
										label Pilih Kelas
										br
										select(name="kelas[]" class="form-control select2" style="width:100%" multiple required="true")
											option Pilih
											option(value="VII") VII
											option(value="VIII") VIII
											option(value="IX") IX
									div(class="col-md-4")
										label Tanggal Publish
										input(type="text" name="tgl_mulai" class="tgl form-control" autocomplete="off" required="true")
									div(class="col-md-4")
										label Link Youtube
										input(type="text" name="youtube" class="form-control" autocomplete="off")
							div(class="form-group")
								label(for="file") File Pendukung
								input(type="file" class="form-control-file" name="file" aria-describedby="fileHelpId")
								small#fileHelpId(class="form-text text-muted") format file (docx/pdf/jpg/png/mp4)
	block script
		script(src="/plugins/select2/select2.min.js")
		script.
			$('.select2').select2();
		script.
			tinymce.init({
			selector: '.editor1',
			plugins: [
			'advlist autolink lists link image charmap print preview hr anchor pagebreak',
			'searchreplace wordcount visualblocks visualchars code fullscreen',
			'insertdatetime media nonbreaking save table contextmenu directionality',
			'emoticons template paste textcolor colorpicker textpattern imagetools uploadimage paste formula'
			],
			
			toolbar: 'bold italic fontselect fontsizeselect | alignleft aligncenter alignright bullist numlist  backcolor forecolor | formula code | imagetools link image paste ',
			fontsize_formats: '8pt 10pt 12pt 14pt 18pt 24pt 36pt',
			paste_data_images: true,
			
			images_upload_handler: function(blobInfo, success, failure) {
			success('data:' + blobInfo.blob().type + ';base64,' + blobInfo.base64());
			},
			image_class_list: [{
			title: 'Responsive',
			value: 'img-responsive'
			}],
			setup: function(editor) {
			editor.on('change', function() {
			tinymce.triggerSave();
			});
			}
			});