extends ../template/superadminTemplate.pug

block content
	section(class="content")
		div(class="row")
			div(class="col-md-12")
				div(class="row")
					div(class="col col-md-3 col-lg-2")
						div(class="input-group")
							select(class="form-control" id="kd_sek" name="kd_sek")
								each d in sekolah
									option(value=d._id) #{d.nama_sekolah}
					div(class="col-md-2 col-lg-2")
						div(class="input-group")
							select(class="form-control" id="kelas" name="kelas")
								option Pilih Kelas
								option(value="IX" data-params="60401101") IX
								option(value="VIII" data-params="60401101") VIII
								option(value="VII" data-params="60401101") VII
							span(class="input-group-btn")
								button(onclick="cari(this)" class="btn btn-default")
									i(class="icon-left fa fa-search") Cari
			div(class="col-md-12")
				div(class="box box-solid")
					div(class="box-header with-border ")
						h3(class="box-title")
							i(class="fas fa-user-friends fa-fw ")
							|  Data Bahan Ajar
						div(class="box-tools")
							div(class="col-sm-4")
								select(class="form-control" id="kd_sek" name="kd_sek")
									each d in sekolah
										option(value=d._id) #{d.nama_sekolah}
							div(class="col-sm-3")
								select(class="form-control" id="kelas" name="kelas")
									option(value="IX" data-params="60401101") IX
									option(value="VIII" data-params="60401101") VIII
									option(value="VII" data-params="60401101") VII
							div(class="col-sm-2")
								button(onclick="cari(this)" class="btn btn-default")
									i(class="icon-left fa fa-search")
									| Cari
					div(class="box-body")
						#tablemateri(class="table-responsive")
							table#example1(class="table table-bordered table-striped  table-hover")
								thead
									tr
										th(width="5px") #
										th Mata Pelajaran
										th Judul materi
										th Tgl Publish
										th Kelas
										th File
								tbody
									each d,index in data
										tr
											td=index+1
											td=d.mapel
											td=d.judul
											td=d.terbit
											td=d.kelas
											if d.file
												td ada
											else
												td belum ada
block script
	script(src="/plugins/select2/select2.min.js")
	script.
		$('.select2').select2();
	script.
		tinymce.init({
			selector: '.editor1',
			plugins: [
			'advlist autolink lists link image charmap print preview hr anchor pagebreak',
			'searchreplace wordcount visualblocks visualchars code fullscreen',
			'insertdatetime media nonbreaking save table contextmenu directionality',
			'emoticons template paste textcolor colorpicker textpattern imagetools uploadimage paste formula'
			],
			
			toolbar: 'bold italic fontselect fontsizeselect | alignleft aligncenter alignright bullist numlist  backcolor forecolor | formula code | imagetools link image paste ',
			fontsize_formats: '8pt 10pt 12pt 14pt 18pt 24pt 36pt',
			paste_data_images: true,
			
			images_upload_handler: function(blobInfo, success, failure) {
				success('data:' + blobInfo.blob().type + ';base64,' + blobInfo.base64());
			},
			image_class_list: [{
				title: 'Responsive',
				value: 'img-responsive'
			}],
			setup: function(editor) {
				editor.on('change', function() {
					tinymce.triggerSave();
				});
			}
		});
		function cari(x){
			window.location.href = '/superadmin/bahan-ajar?sekolah='+$('#kd_sek').find(":selected").val()+'&kelas='+$('#kelas').find(":selected").val()
		}