extends ../template/superadminTemplate.pug

block content
	section(class="content")
		div(class="row")
			div(class="col-md-12")
				div(class="row")
					div(class="col-sm-6 col-md-6 col-lg-4")
						div(class="input-group")
							select(class="form-control" id="kd_sek" name="kd_sek")
								each d in sekolah
									option(value=d._id) #{d.nama_sekolah}
							span(class="input-group-btn")
								button(onclick="cari(this)" class="btn btn-default")
									i(class="icon-left fa fa-search")
									| Cari
			div(class="col-md-12")
				div(class="box box-solid ")
					div(class="box-header with-border ")
						h3(class="box-title")
							i(class="fa fa-briefcase")
							|  Data Bank Soal

					div(class="box-body")
						#tablereset(class="table-responsive")
							table#example1(class="table table-bordered table-striped")
								thead
									tr
										th(width="5px") No
										th Mata Pelajaran
										th Kelas
										th Soal
										th Guru
										th(width="100px") Action
								tbody
									each d,index in data
										tr
											td=index+1
											td=d.mapel
											td=d.kelas
											td #{d.jml_soal}/#{d.jml_tampil}
											td=d.nama_guru
											td
												a(href="/superadmin/data-soal/"+d._id)
													button(class="btn btn-success btn-sm")
														i(class="fa fa-eye")
														|  Lihat 
block script
	script.
		function cari(x){
			window.location.href = '/superadmin/bank-soal?sekolah='+$('#kd_sek').find(":selected").val()
		}