extends ../template/superadminTemplate.pug

block content
	section(class="content")
		div(class="row")
			div(class="col-md-12")
				div(class="box box-solid")
					if message
						div(class="alert alert-"+message.type)
							button(type="button", class="close", data-dismiss="alert", aria-hidden="true") ×
							| #{message.message}
					div(class="box-header with-border")
						h3(class="box-title") Daftar Berita Acara
						div(class="box-tools pull-right")
							button(class="btn btn-sm btn-flat btn-primary" data-toggle="modal" data-target="#tambahkelas")
								i(class="fa fa-check")
								|  Upload
					// /.box-header
					div(class="box-body")
						div(class="table-responsive")
							table#tablekelas(class="table table-bordered table-striped")
								thead
									tr
										th(width="5px") #
										th(width="200px") Catatan
										th(width="5px") Action
								tbody
									each d, index in data
										tr(data-toggle="collapse" data-target="#demo"+index class="accordion-toggle")
											td=index+1
											td=d.catatan
											td(style="text-align:center;")
												//- a(href="/superadmin/download-berita-acara/"+d._id class="btn btn-xs btn-flat btn-warning" download)
												//- 	i(class="fa fa-eye")
												button(class="btn btn-warning btn-xs")
													span(class="glyphicon glyphicon-eye-open")
												form(action=`/superadmin/berita-acara/${d._id}?_method=DELETE` method="post" style="display:inline")
														button(onclick="return confirm('Anda yakin akan menghapus data ini?')" type="submit" class="btn btn-flat btn-xs bg-maroon")
															i(class="fa fa-trash")
											tr
												td(colspan="12" class="hiddenRow")
													div(id="demo"+index class="accordian-body collapse")
														table(class="table table-striped")
															tbody
																each c, index in d.newseventfile
																	tr(data-toggle="collapse" class="accordion-toggle" data-target="#demo10")
																		td=c.nama
																		td(width="200px" style="text-align:center;")
																			a(href="/superadmin/download-berita-acara/"+c._id class="btn btn-xs btn-flat btn-success")
																				i(class="fa fa-download")
											
			#tambahkelas(class="modal fade" style="display: none;")
				div(class="modal-dialog")
					div(class="modal-content")
						div(class="modal-header bg-blue")
							button(class="close" data-dismiss="modal")
								span(aria-hidden="true")
									i(class="glyphicon glyphicon-remove")
							h3(class="modal-title") Tambah Berita Acara
						div(class="modal-body")
							form(action="/superadmin/berita-acara" method="post" enctype="multipart/form-data")
								div(class="row")
									div(class="col-md-12")
										div(class="form-group")
											label File
											input(type="file" name="file" class="form-control" required="true")
									div(class="col-md-12")
										div(class="form-group")
											label Catatan 
											textarea(name="catatan" class="form-control" rows="4" cols="80" style="width:100%; min-width:100%; max-width:100%;")
								div(class="modal-footer")
									div(class="box-tools pull-right ")
										button(type="submit" class="btn btn-sm btn-flat btn-success")
											i(class="fa fa-check")
											|  Simpan
										button(type="button" class="btn btn-default btn-sm pull-left" data-dismiss="modal") Tutup
block script
	script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/moment.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/locale/id.min.js")
	script.
		$( document ).ready(function() {
			let mulai = $(".tgl_mulai").data("unixtime");
			let mulaiDate = moment(mulai).format('dddd, D MMMM YYYY HH:mm');
			$(".tgl_mulai").html(mulaiDate);
		});
		function clickUpload(x){
			$("#upload").attr("action", "/admin/daftar-hadir/"+$(x).data("id"))
		}
		function cari(x){
			window.location.href = '/superadmin/berita-acara?sekolah='+$('#kd_sek').find(":selected").val()
		}