extends ../template/superadminTemplate.pug

block content
	section(class="content")
		#PreviewPrint(class="row")
			div(class="col-md-12")
				div(class="box box-solid")
					div(class="box-header with-border")
						h3(class="box-title") Preview Daftar Hadir
						div(class="box-tools pull-right ")
							a( href="daftar-hadir" class="btn btn-sm btn-flat btn-danger")
								i(class="fa fa-ban")
								|  Cancel 
							button(class="btn btn-sm btn-flat btn-primary" onclick="printDiv()")
								i(class="fa fa-print")
								|  Print
		div(class="row")
			div(class="col-md-12")
				div(class="page")
					table(width="100%")
						tr
							td(width="100")
								img(src="/dist/img/tutwuri.png" width="80")
							td(style="text-align:center")
								strong(class="f12")
									if data[0].kode == "UTS"
										| DAFTAR HADIR PESERTA UJIAN TENGAH SEMESTER
									else if data[0].kode == "UAS"
										| DAFTAR HADIR PESERTA UJIAN AKHIR SEMESTER
									else if data[0].kode == "US"
										| DAFTAR HADIR PESERTA UJIAN SEKOLAH
									br
									| #{user.nama_sekolah}
							td(width="100")
								img(src="/dist/img/tutwuri.png" height="75")
					hr(style="weight:100%; color: 0.1px solid black;")
					table(class="detail")
						tr
							td SEKOLAH/MADRASAH
							td :
							td(style="width:350px;")
								span
									| &nbsp;
									| #{user.nama_sekolah}
							td RUANG 
							td :
							td
								span(style="width:150px;")
									| &nbsp;
									| #{data[0].ruangan}
						tr
							td HARI/TANGGAL
							td :
							td
								span(class="tgl_mulai" style="width:190px;" data-unixtime=data[0].tgl_mulai)
							td PUKUL
							td :
							td
								span(class="pukul" data-unixtimestart=data[0].tgl_mulai data-unixtimeend=data[0].tgl_selesai style="width:150px;")
						tr
							td MATA PELAJARAN
							td :
							td(colspan="4")
								span(style="width:350px;")
									| &nbsp;
									| #{data[0].banksoal[0].mapel}
					table(class="it-grid it-cetak" style="margin-top: 10px;" width="100%" border="1")
						tr(height="40px")
							th(style="text-align:center") No.
							th(style="text-align:center") Nama Lengkap
							th(style="text-align:center") No Peserta
								br
							th(style="text-align:center") Tanda Tangan
						each d, index in data[0].student
							tr
								td(style="text-align:center;")
									| #{index+1}
								td
									| &nbsp;
									| #{d.nama}
								td
									| &nbsp;
									| #{d.no_peserta}
								td(width="150" height="40px")
									span(style="float:right;width:80px;")
										| &nbsp;
					table
						tr
							td(colspan="2")
								strong
									i Keterangan : 
						tr
							td 1. Dibuat rangkap 3 (tiga), masing-masing untuk sekolah, Cabang Dinas dan Provinsi.
						tr
							td 2. Pengawas ruang menyilang Nama Peserta yang tidak hadir.
					table(width="100%")
						tr
							td
								table(style="border:1px solid black")
									tr
										td Jumlah Peserta yang Seharusnya Hadir
										td &nbsp;: 
										td(style="width:5px; text-align:center") #{data[0].student.length} 
										td orang
									tr
										td Jumlah Peserta yang Tidak Hadir
										td :
										td _____
										td orang
									tr(style="border-top:1px solid black")
										td Jumlah Peserta Hadir
										td :
										td _____
										td orang
							td(style="text-align:center; width:200")
								| Proktor
								br
								br
								br
								br
								br
								| (
								nip _________________
								| )
							td(style="text-align:center; width:175")
								| Pengawas
								br
								br
								br
								br
								br
								| (
								nip _________________
								| )
						tr
							td
							td
								br
								label(style="margin-left:90px;")
								| NIP.
							td
								br
								label(style="margin-left:90px;")
								| NIP.
block script 
	script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/moment.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/locale/id.min.js")
	script.
		function printDiv(){
			var divHeader = document.getElementById("PreviewPrint");
			divHeader.style.display = "none";
			divHeader.style.overflow = "hidden";
			window.print();
			divHeader.style.overflow = "";
			divHeader.style.display = "";
		}
		$( document ).ready(function() {
			let mulai = $(".tgl_mulai").data("unixtime");
			let mulaiDate = moment(mulai).lang("id").format('dddd, D MMMM YYYY');
			$(".tgl_mulai").html("&nbsp"+mulaiDate);

			let pukulStart = $(".pukul").data("unixtimestart")
			let pukulEnd = $(".pukul").data("unixtimeend")
			let start = moment(pukulStart).lang("id").format('HH:mm');
			let end = moment(pukulEnd).lang("id").format('HH:mm');
			$(".pukul").html("&nbsp"+start+" - "+end);
		});