extends ../template/superadminTemplate.pug

block content
	section(class="content")
		div(class="row")
			div(class="col-md-12")
				div(class="row")
					div(class="col col-md-3 col-lg-2")
						div(class="input-group")
							select(class="form-control" id="kd_sek" name="kd_sek")
								each d in sekolah
									option(value=d._id) #{d.nama_sekolah}
							span(class="input-group-btn")
								button(onclick="cari(this)" class="btn btn-sm btn-default")
									i(class="icon-left fa fa-search")  Cari
			div(class="col-md-12")
				div(class="box box-solid")
					div(class="box-header with-border")
						h3(class="box-title") Daftar Hadir

					// /.box-header
					div(class="box-body")
						div(class="table-responsive")
							table#tablekelas(class="table table-bordered table-striped")
								thead
									tr
										th(width="5px") #
										th(width="200px") Mapel
										th(width="50px") Ruang
										th(width="150px") Hari
										th(width="150px") File
										th(width="100px") Action
								tbody
									each d, index in data
										tr
											td=index+1
											td=d.banksoal[0].mapel
											td=d.ruangan
											td(class="tgl_mulai" data-unixtime=d.tgl_mulai)
											if d.file_daftar_hadir
												td ada
											else
												td belum ada
											td(style="text-align:center;")
												a(href="/superadmin/cetak-daftar-hadir/"+d._id class="btn btn-flat btn-xs bg-yellow")
													i(class="fa fa-print")
												if d.file_daftar_hadir
													a(class="btn btn-xs btn-flat btn-primary" target="_blank" href="/superadmin/daftar-hadir/"+d._id)
														i(class="fa fa-download")
block script
	script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/moment.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/locale/id.min.js")
	script.
		$( document ).ready(function() {
			let mulai = $(".tgl_mulai").data("unixtime");
			let mulaiDate = moment(mulai).format('dddd, D MMMM YYYY HH:mm');
			$(".tgl_mulai").html(mulaiDate);
		});