extends ../template/superadminTemplate.pug  

block content
	section(class="content")
		div(class="row")
			div(class="col-md-12")
				div(class="box box-solid")
					div(class="box-header with-border ")
						h3(class="box-title")
							| Daftar Soal #{bankSoal.mapel}
						div(class="box-tools pull-right ")
					div(class="box-body")
						div(class="nav-tabs-custom")
							ul(class="nav nav-tabs")
								li(class="active")
									a(aria-expanded="true" href="#detail" data-toggle="tab")
										i(class="fa fa-envelope-open")
										|  Daftar Soal
							div(class="tab-content")
								#detail(class="tab-pane active")
									div(class="table-responsive")
										table(class="table table-bordered table-striped")
											each d,index in data
												tbody
													tr
														td(style="width:30px")
															| #{index+1}
														td(style="text-align:justify") !{d.isi_soal}
															table(width="100%")
																tr
																	td(style="padding: 3px;width: 2%; vertical-align: text-top;")
																		b A.
																	td(style="padding: 3px;width: 20%; vertical-align: text-top;") !{d.pilihanA}
																	td(style="padding: 3px;width: 2%; vertical-align: text-top;")
																		b B.
																	td(style="padding: 3px;width: 20%; vertical-align: text-top;") !{d.pilihanB}
																	td(style="padding: 3px;width: 2%; vertical-align: text-top;")
																		b C.
																	td(style="padding: 3px;width: 20%; vertical-align: text-top;") !{d.pilihanC}
																	td(style="padding: 3px;width: 2%; vertical-align: text-top;")
																		b D.
																	td(style="padding: 3px;width: 20%; vertical-align: text-top;") !{d.pilihanD}
															b
																| Kunci :
																| #{d.jawaban}
														td(style="width:30px")
															a(href=`/admin/form-data-soal/${bankSoal._id}/${d._id}` class="btn bg-yellow btn-sm")
																	i(class="fa fa-edit")
															form(action=`/admin/data-soal/${d._id}?_method=DELETE` method="post" style="display:inline")
																button(onclick="return confirm('Anda yakin akan menghapus data ini?')" type="submit" class="btn btn-flat btn-sm bg-maroon")
																	i(class="fa fa-trash")
						#importpeserta(class="modal fade" style="display: none;")
							div(class="modal-dialog")
								div(class="modal-content")
									div(class="modal-header bg-blue")
										button(class="close" data-dismiss="modal")
											span(aria-hidden="true")
												i(class="glyphicon glyphicon-remove")
										h3(class="modal-title") Import Soal
									div(class="modal-body")
										form(action="/admin/import-data-soal/"+bankSoal._id method="post" enctype="multipart/form-data")
											div(class="form-group")
												label Pilih File
												input(type="file" name="file" class="form-control" required="true")
											p
												| Sebelum meng-import pastikan file yang akan anda import sudah dalam bentuk
												| Ms. Excel 97-2003 Workbook (.xlsx) dan format penulisan harus sesuai dengan
												| yang telah ditentukan.
												br
											a(href="/admin/format-soal" download)
												i(class="fa fa-file-excel-o")
												| Download
												| Format
											div(class="modal-footer")
												div(class="box-tools pull-right ")
													button(type="submit" name="importmapel" class="btn btn-sm btn-flat btn-success")
														i(class="fa fa-upload")
														| Simpan
													button(type="button" class="btn btn-default btn-sm pull-left" data-dismiss="modal") Close