extends ../template/superadminTemplate.pug

block content
	section(class="content")
		div(class="row")
			div(class="col-md-12")
				div(style="padding:10px")
					a(class="btn btn-sm btn-danger" href="/superadmin/sekolah") Kembali 
			div(class="col-md-12")
				div(class="box box-solid")
					if message
						div(class="alert alert-"+message.type)
							button(type="button", class="close", data-dismiss="alert", aria-hidden="true") ×
							| #{message.message}

					div(class="box-header with-border")
						h3(class="box-title")
							i(class="fas fa fa-school fa fa-fw")
							|  Identitas dan Infrastruktur Sekolah
					div(class="box-body no-padding ")
						div(class="nav-tabs-custom")
							ul(class="nav nav-tabs")
								li(class="active")
									a(href="#identitas" data-toggle="tab" aria-expanded="true") Identitas
								li
									a(href="#timteknis" data-toggle="tab" aria-expanded="false") Tim Teknis
								li
									a(href="#infrastruktur" data-toggle="tab" aria-expanded="false") Infrastruktur
							div(class="tab-content")
								#identitas(class="tab-pane active")
									div(class="row")
										div(class="col-sm-3 text-right")
											label Jenjang
										div(class="col-sm-1 text-center")
											label :
										div(class="col-sm-8")
											label #{data.jenjang}
									div(class="row" style="margin-top:13px")
										div(class="col-sm-3 text-right")
											label Provinsi
										div(class="col-sm-1 text-center")
											label :
										div(class="col-sm-8")
											label #{data.provinsi}
									div(class="row" style="margin-top:13px")
										div(class="col-sm-3 text-right")
											label Kota/Kabupaten
										div(class="col-sm-1 text-center")
											label :
										div(class="col-sm-8")
											label #{data.kota}
									div(class="row" style="margin-top:13px")
										div(class="col-sm-3 text-right")
											label Sekolah
										div(class="col-sm-1 text-center")
											label :
										div(class="col-sm-8")
											label #{data.nama_sekolah}
									div(class="row" style="margin-top:13px")
										div(class="col-sm-3 text-right")
											label Status Sekolah
										div(class="col-sm-1 text-center")
											label :
										div(class="col-sm-8")
											label #{data.status}
									div(class="row" style="margin-top:13px")
										div(class="col-sm-3 text-right")
											label Status Sekolah
										div(class="col-sm-1 text-center")
											label :
										div(class="col-sm-8")
											label #{data.status}
									div(class="row" style="margin-top:13px")
										div(class="col-sm-3 text-right")
											label NPSN
										div(class="col-sm-1 text-center")
											label :
										div(class="col-sm-8")
											label #{data.npsn}
									div(class="row" style="margin-top:13px")
										div(class="col-sm-3 text-right")
											label Kode AN
										div(class="col-sm-1 text-center")
											label :
										div(class="col-sm-8")
											label #{data.kode_an}
									div(class="row" style="margin-top:13px")
										div(class="col-sm-3 text-right")
											label Email
										div(class="col-sm-1 text-center")
											label :
										div(class="col-sm-8")
											label #{data.email}
									div(class="row" style="margin-top:13px")
										div(class="col-sm-3 text-right")
											label Status Pelaksanaan
										div(class="col-sm-1 text-center")
											label :
										div(class="col-sm-8")
											label #{data.status_pelaksanaan}
									div(class="row" style="margin-top:13px")
										div(class="col-sm-3 text-right")
											label Moda Pelaksanaan
										div(class="col-sm-1 text-center")
											label :
										div(class="col-sm-8")
											label #{data.mode_pelaksanaan}
								#timteknis(class="tab-pane")
									div#sekolah(class="form-horizontal" style="margin: 15px;")
										div(class="form-group")
											label(class="control-label col-sm-3") Nama Penanggung Jawab
											div(class="col-sm-6")
												input(value=data.nama class="form-control" type="text" id="nama" name="nama" size="col-sm-6" disabled)
										div(class="form-group")
											label(class="control-label col-sm-3") NIP Penanggung Jawab
											div(class="col-sm-3")
												input(value=data.nip class="form-control" type="text" id="nip" name="nip" size="col-sm-3" disabled)
										div(class="form-group")
											label(class="control-label col-sm-3") Telepon Penanggung Jawab
											div(class="col-sm-3")
												input(value=data.tlp class="form-control" type="text" id="tlp" name="tlp" size="col-sm-3" disabled)
										div(class="form-group")
											label(class="control-label col-sm-3") Nama Proktor
											div(class="col-sm-6")
												input(value=data.nama_praktor class="form-control" type="text" id="nama_praktor" name="nama_praktor" size="col-sm-6" disabled)
										div(class="form-group")
											label(class="control-label col-sm-3") Email Proktor
											div(class="col-sm-6")
												input(value=data.email_praktor class="form-control" type="text" id="email_praktor" name="email_praktor" size="col-sm-6" disabled)
										div(class="form-group")
											label(class="control-label col-sm-3") Telpon Proktor
											div(class="col-sm-3")
												input(value=data.tlp_praktor class="form-control" type="text" id="tlp_praktor" name="tlp_praktor" size="col-sm-3" disabled)
										div(class="form-group")
											label(class="control-label col-sm-3") Nama Teknisi
											div(class="col-sm-6")
												input(value=data.nama_teknis class="form-control" type="text" id="nama_teknis" name="nama_teknis" size="col-sm-6" disabled)
										div(class="form-group")
											label(class="control-label col-sm-3") Email Teknisi
											div(class="col-sm-6")
												input(value=data.email_teknis class="form-control" type="text" id="email_teknis" name="email_teknis" size="col-sm-6" disabled)
										div(class="form-group")
											label(class="control-label col-sm-3") Telpon Teknisi
											div(class="col-sm-3")
												input(value=data.tlp_teknis class="form-control" type="text" id="tlp_teknis" name="tlp_teknis" size="col-sm-3" disabled)
								// /.tab-pane
								#infrastruktur(class="tab-pane")
									div(class="form-horizontal" style="margin: 15px;")
										div(class="form-group")
											label(class="control-label col-sm-3") Jumlah Komputer Proktor
											div(class="col-sm-2")
												input(value=data.jumlah_server class="form-control" type="text" id="jumlah_server" name="jumlah_server" size="col-sm-2" disabled)
										div(class="form-group")
											label(class="control-label col-sm-3") Jumlah Kepemilikan Lab Komputer
											div(class="col-sm-2")
												input(value=data.jumlah_lab class="form-control" type="text" id="jumlah_lab" name="jumlah_lab" size="col-sm-2" disabled)
										div(class="form-group")
											label(class="control-label col-sm-3") Jumlah Client (Milik)
											div(class="col-sm-2")
												input(value=data.jumlah_client_milik class="form-control" type="text" id="jumlah_client_milik" name="jumlah_client_milik" size="col-sm-2" disabled)
										div(class="form-group")
											label(class="control-label col-sm-3") Jumlah Client (Bukan Milik)
											div(class="col-sm-2")
												input(value=data.jumlah_client_nonmilik class="form-control" type="text" id="jumlah_client_nonmilik" name="jumlah_client_nonmilik" size="col-sm-2" disabled)
										div(class="form-group")
											label(class="control-label col-sm-3") Jumlah Switch/HUB
											div(class="col-sm-3")
												input(value=data.jumlah_switch class="form-control" type="text" id="jumlah_switch" name="jumlah_switch" size="col-sm-3" disabled)
										div(class="form-group")
											label(class="control-label col-sm-3") Jumlah Access Point
											div(class="col-sm-3")
												input(value=data.jumlah_access_point class="form-control" type="text" id="jumlah_access_point" name="jumlah_access_point" size="col-sm-3" disabled)
										div(class="form-group")
											#imat-siSAq(class="html-object" style="background: rgb(153, 153, 153); color: white; padding: 5px;")
												| Listrik
										div(class="form-group")
											label(class="control-label col-sm-3") Sumber Listrik
											div(class="col-sm-6")
												select(class="form-control" id="listrik_sumber" name="listrik_sumber" disabled)
													each d in listrik_sumber
														if d == data.listrik_sumber
															option(value=d selected) #{d}
														else
															option(value=d) #{d}
										div(class="form-group")
											label(class="control-label col-sm-3") Daya
											div(class="col-sm-5")
												input(value=data.listrik_daya class="form-control" type="text" id="listrik_daya" name="listrik_daya" size="col-sm-5" disabled)
										div(class="form-group")
											#imat-Tq0zN(class="html-object" style="background: rgb(153, 153, 153); color: white; padding: 5px;")
												| Internet
										div(class="form-group")
											label(class="control-label col-sm-3") Nama ISP
											div(class="col-sm-6")
												select(class="form-control" id="isp" name="isp" disabled)
													each d in isp
														if d == data.isp
															option(value=d selected) #{d}
														else
															option(value=d) #{d}
										div(class="form-group")
											label(class="control-label col-sm-3") Bandwidth Upload
											div(class="col-sm-3")
												input(value=data.internet_bandwidth_upload class="form-control" type="text" id="internet_bandwidth_upload" name="internet_bandwidth_upload" size="col-sm-3" disabled)
										div(class="form-group")
											label(class="control-label col-sm-3") Bandwidth Download
											div(class="col-sm-3")
												input(value=data.internet_bandwidth_download class="form-control" type="text" id="internet_bandwidth_download" name="internet_bandwidth_download" size="col-sm-3" disabled)