extends ../template/superadminTemplate.pug  

block content
	section(class="content")
		div(class="row")
			div(class="col-md-12")
				div(class="box box-solid")
					div(class="box-header with-border ")
						h3(class="box-title")
							i(class="fas fa-user-friends fa-fw   ")
							| File Pendukung
						div(class="box-tools")
							div(class="col-sm-8")
								select(class="form-control" id="kd_sek" name="kd_sek")
									each d in sekolah
										option(value=d._id) #{d.nama_sekolah}
							div(class="col-sm-2")
								button(onclick="cari(this)" class="btn btn-default")
									i(class="icon-left fa fa-search")
									| Cari
					div(class="box-body")
						div(class="table-responsive")
							table#biodata-siswa(class="table table-bordered table-striped")
								thead
									tr
										th(style="width: 1%; text-align: center;") No
										th(style="text-align: center;") Nama File
								tbody
									each d,index in data
										tr
											td=index+1
											td=d.nama
block script
	script.
		function cari(x){
			window.location.href = '/superadmin/file-pendukung?sekolah='+$('#kd_sek').find(":selected").val()
		}