extends ../template/superadminTemplate.pug

block content
	section(class="content")
		div(class="row")
			div(class="col-md-12")
				div(class="row")
					div(class="col-sm-6 col-md-6 col-lg-4")
						div(class="input-group")
							select(class="form-control" id="kd_sek" name="kd_sek")
								each d in sekolah
									option(value=d._id) #{d.nama_sekolah}
							span(class="input-group-btn")
								button(onclick="cari(this)" class="btn btn-default")
									i(class="icon-left fa fa-search")
									| Cari
			div(class="col-md-12")
				div(class="box box-solid")
					if message
						div(class="alert alert-"+message.type)
							button(type="button", class="close", data-dismiss="alert", aria-hidden="true") ×
							| #{message.message}
					// /.box-header
					div(class="box-body")
						table#tablekelas(class="table table-bordered table-striped")
							thead
								tr
									th(width="5px") #
									th(width="300px") Kelas
									th Header
									th(width="100px") Action
							tbody
								each d,index in data
									tr
										td=index+1
										td=d.kelas
										td=d.kode
										td(style="text-align:center;")
											a(href="/superadmin/cetak-kartu/"+d._id class="btn btn-flat btn-xs bg-yellow")
												i(class="fa fa-print")
											form(action=`/superadmin/kartu-ujian/${d._id}?_method=DELETE` method="post" style="display:inline")
												button(onclick="return confirm('Anda yakin akan menghapus data ini?')" type="submit" class="btn btn-flat btn-xs bg-maroon")
													i(class="fa fa-trash")
			#tambahKartu(class="modal fade" style="display: none;")
				div(class="modal-dialog")
					div(class="modal-content")
						div(class="modal-header bg-blue")
							button(class="close" data-dismiss="modal")
								span(aria-hidden="true")
									i(class="glyphicon glyphicon-remove")
							h3(class="modal-title") Tambah Kartu Peserta Ujian
						div(class="modal-body")
							form(method="post")
								div(class="form-group")
									label Pilih Kelas
									select(name="kelas" class="form-control" required="true")
										option(value="") IX
										option(value="") IIX
										option(value="") IIIX
								div(class="form-group")
									label Header Kartu Ujian 
									textarea(name="catatan" class="form-control" rows="4" cols="80" style="width:100%; min-width:100%; max-width:100%;")
								div(class="modal-footer")
									div(class="box-tools pull-right ")
										button(type="submit" class="btn btn-sm btn-flat btn-success")
											i(class="fa fa-check")
											| Simpan
										button(type="button" class="btn btn-default btn-sm pull-left" data-dismiss="modal") Close
block script
	script.
		function cari(x){
			window.location.href = '/superadmin/kartu-ujian?sekolah='+$('#kd_sek').find(":selected").val()
		}