extends ../template/superadminTemplate.pug  

block content
	section(class="content")
		div(class="row")
			div(class="col-md-12")
				div(class="row")
					div(class="col col-md-3 col-lg-2")
						div(class="input-group")
							select(class="form-control" id="kd_sek" name="kd_sek")
								each d in sekolah
									option(value=d._id) #{d.nama_sekolah}
					div(class="col col-md-2 col-lg-2")
						div(class="input-group")
							select(class="form-control" id="kelas" name="kelas")
								//- option Pilih Kelas
								option(value="IX") IX
								option(value="VIII") VIII
								option(value="VII") VII
							span(class="input-group-btn")
								button(onclick="cari(this)" class="btn btn-default")
									i(class="icon-left fa fa-search")
									|  Cari
			div(class="col-md-12")
				div(class="box box-solid")
					div(class="box-header with-border")
						h3(class="box-title")
							| NILAI UJIAN
						div(class="box-tools pull-right btn-grou")
					div(class="box-body")
						div(class="table-responsive")
							table#tablenilaix(class="table table-bordered table-striped")
								thead
									tr
										th(width="5px") #
										th(width="50px") Kelas
										th(width="100px") NISN
										th(width="100px") No Peserta
										th Nama
										th(width="100px") Nilai
								tbody
									each d, index in data
										tr
											td=index+1
											if d.student.length > 0
												td=d.student[0].kelas
											else
												td
											td=d.nisn
											if d.student.length > 0
												td=d.student[0].no_peserta
											else
												td
											if d.student.length > 0
												td=d.student[0].nama
											else
												td
											td=d.nilai
block script
	script.
		function cari(x){
			window.location.href = '/superadmin/nilai-ujian?sekolah='+$('#kd_sek').find(":selected").val()+'&kelas='+$('#kelas').find(":selected").val()
		}