extends ../template/superadminTemplate.pug
block styles
	link(href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css", rel="stylesheet")
	link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css", integrity="sha512-Velp0ebMKjcd9RiCoaHhLXkR1sFoCCWXNp6w4zj1hfMifYB5441C+sKeBl/T/Ka6NjBiRfBBQRaQq65ekYz3UQ==", crossorigin="anonymous", referrerpolicy="no-referrer")
block content
	section(class="content")
		div(class="row")
			div(class="col-md-12")
				form(action="/superadmin/pengumuman"+action method="post")
					div(class="box box-success")
						div(class="box-header with-border")
							h3(class="box-title")=title
							div(class="box-tools pull-right btn-group")
								button(type="submit" class="btn btn-sm btn-success")
									i(class="fa fa-check")
									| Simpan
								a(href="/superadmin/pengumuman" class="btn btn-sm btn-danger" title="Batal")
									i(class="fa fa-times")
						// /.box-header
						div(class="box-body")
							div(class="form-group")
								label Judul Pengumuman
								input(type="text" name="judul" class="form-control" required="true" value=(data)?data.judul:"")
								input(type="hidden" name="utk" class="form-control" value="admin")
							div(class="form-group")
								label Isi Pengumuman
								if data
									textarea(name="isi" class="editor1") !{data.isi}
								else
									textarea(name="isi" class="editor1")
block script
	script(src="/plugins/select2/select2.min.js")
	script(src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js", integrity="sha512-Y2IiVZeaBwXG1wSV7f13plqlmFOx8MdjuHyYFVoYzhyRr3nH/NMDjTBSswijzADdNzMyWNetbLMfOpIPl6Cv9g==", crossorigin="anonymous", referrerpolicy="no-referrer")
	script.
		$(document).on('click', '[data-toggle="lightbox"]', function(event) {
			event.preventDefault();
			$(this).ekkoLightbox();
		});
		$(document).ready(function() {
			$('.select2').select2();
			
			$('.editor1').summernote({
				height: 200,
				disableDragAndDrop: true,
				codeviewFilter: false,
				codeviewIframeFilter: true,
				toolbar: [
					['style', ['hr','fontname','fontsize','color','bold','italic','underline','strikethrough','superscript','clear','style','ol','ul','paragraph','height']],				
				]
			});
			$('input.note-image-input').remove()
		});