extends ../template/superadminTemplate.pug

block content
	section(class="content")
		div(class="row")
			div(class="col-md-12")
				div(class="box box-solid")
					if message
						div(class="alert alert-"+message.type)
							button(type="button", class="close", data-dismiss="alert", aria-hidden="true") ×
							| #{message.message}
					div(class="box-header with-border")
						h3(class="box-title") Pengumuman
						div(class="box-tools pull-right ")
							a(href="/superadmin/form-pengumuman" class="btn btn-sm btn-flat btn-primary")
								i(class="fa fa-plus")
								| Tambah
					// /.box-header
					div(class="box-body")
						div(class="table-responsive")
							table#tablemapel(class="table table-bordered table-striped")
								thead
									tr
										th(width="5px") #
										th Pengumuman
										th Tgl Terbit
										th(width="80px") Aksi
								tbody
									each d, index in data
										tr
											td=index+1
											td=d.judul
											td(class="createdAt" data-unixtime=d.createdAt)
											td
												a(href="/superadmin/form-pengumuman/"+d._id class="btn btn-flat btn-xs bg-yellow")
													i(class="fa fa-edit")
												form(action=`/superadmin/pengumuman/${d._id}?_method=DELETE` method="post" style="display:inline")
													button(onclick="return confirm('Anda yakin akan menghapus data ini?')" type="submit" class="btn btn-flat btn-xs bg-maroon")
														i(class="fa fa-trash")
block script
	script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/moment.min.js")
	script.
		$( document ).ready(function() {
			let mulai = $(".createdAt");
			for (let i = 0; i < mulai.length; i++) {
				let mulaiDate = moment($(mulai[i]).data("unixtime")).format('DD-MM-YYYY');
				$(mulai[i]).html(mulaiDate);
			}
		});