extends ../template/superadminTemplate.pug

block content
	section(class="content")
		div(class="row")
			div(class="col-md-12")
				div(class="row")
					div(class="col col-md-3 col-lg-2")
						div(class="input-group")
							select(class="form-control" id="kd_sek" name="kd_sek")
								each d in sekolah
									option(value=d._id) #{d.nama_sekolah}
					div(class="col-xs-6 col-md-4 col-lg-2")
						div(class="input-group")
							select(class="form-control" id="kd_sek" name="kd_sek")
								option Pilih Kelas
								option(value="IX") IX
								option(value="VIII") VIII
								option(value="VII") VII
							span(class="input-group-btn")
								a#cari(href="javascript:void(0)" class="btn btn-sm btn-default")
									i(class="icon-left fa fa-search")  Cari
			div(class="col-md-12")
				div(class="box box-solid")
					div(class="box-header with-border ")
						h3(class="box-title")
							i(class="fas fa-user-friends fa-fw ")
							|  Data Siswa
						div(class="box-tools")
							div(class="col-sm-4")
								select(class="form-control" id="kd_sek" name="kd_sek")
									each d in sekolah
										option(value=d._id) #{d.nama_sekolah}
							div(class="col-sm-3")
								select(class="form-control" id="kelas" name="kelas")
									option(value="IX") IX
									option(value="VIII") VIII
									option(value="VII") VII
							div(class="col-md-3")
								button(onclick="cari()" class="btn btn-primary") Cari
						div(class="box-tools pull-right")
							a(href="" class="btn btn-sm btn-danger")
								i(class="fa fa-download")
								span(class="hidden-xs")  Export
					div(class="box-body")
						div(class="table-responsive")
							table#tableSiswa(class="table table-bordered table-striped")
								thead
									tr
										th(style="width: 120px;")
											div(style="width: 120px; text-align: center;") No Ujian
										th(style="width: 200px;")
											div(style="width: 200px; text-align: center;") Nama Peserta
										th(style="width: 100px;")
											div(style="width: 100px; text-align: center;") Jenjang
										th(style="width: 50px;")
											div(style="width: 50px; text-align: center;") Kelas
										th(style="width: 50px;")
											div(style="width: 50px; text-align: center;") Ruangan
										th(style="width: 100px;")
											div(style="width: 100px; text-align: center;") Status
										th(style="width: 100px;")
											div(style="width: 100px; text-align: center;") Jenis Kelamin
										th(style="width: 120px;")
											div(style="width: 120px; text-align: center;") Tempat Lahir
										th(style="width: 100px;")
											div(style="width: 100px; text-align: center;") Tanggal Lahir
										th(style="width: 150px;")
											div(style="width: 150px; text-align: center;") Nama Orang Tua
										th(style="width: 80px;")
											div(style="width: 80px; text-align: center;") NISN
								tbody
									each d, index in data
										tr
											td=d.no_peserta
											td=d.nama
											td=d.jenjang
											td=d.kelas
											td=d.ruangan
											td=d.status
											td=d.jenis_kelamin
											td=d.tempat_lahir
											td=d.tanggal_lahir
											td=d.nama_orang_tua
											td=d.nisn
						
block script
	script.
		function cari(){
			window.location.href = '/superadmin/peserta?sekolah='+$('#kd_sek').find(":selected").val()+'&kelas='+$('#kelas').find(":selected").val()
		}
		$("#tableSiswa").DataTable({
			select: true
		});