extends ../template/superadminTemplate.pug

block content
	section(class="content")
		div(class="row")
			div(class="col-md-12")
				form(action="" method="post")
					div(class="box box-success")
						div(class="box-header with-border")
							h3(class="box-title")=title
							div(class="box-tools pull-right btn-group")
								button(type="submit" class="btn btn-sm btn-success")
									i(class="fa fa-check")
									| Simpan
								a(href="/superadmin/peserta" class="btn btn-sm btn-danger" title="Batal")
									i(class="fa fa-times")
						// /.box-header
						div(class="box-body")
							div(class="form-group")
								div(class="row")
									div(class="col-md-6")
										label NISN
										input(type="text" name="nisn" class="form-control" required="true")
									div(class="col-md-6")
										label Nomor Peserta
										input(type="text" name="no_peserta" class="form-control" required="true")
							div(class="form-group")
								div(class="row")
									div(class="col-md-8")
										label Nama
										input(type="text" name="nama" class="form-control" required="true")
									div(class="col-md-4")
										label Kelas
										select(name="kelas" class="form-control" required="true")
											option(value=7) VII
											option(value=8) XIII
											option(value=9) IX
							div(class="form-group")
								div(class="row")
									div(class="col-md-6")
										label Jenis Kelamin
										select(name="jeniskelamin" class="form-control" required="true")
											option(value="Laki-Laki") Laki-Laki
											option(value="Perempuan") Perempuan
									div(class="col-md-6")
										label Nama Oran tua
										input(type="text" name="orangtua" class="form-control" required="true")
							div(class="form-group")
								div(class="row")
									div(class="col-md-6")
										label Tempat Lahit
										input(type="text" name="tmplahir" class="form-control" required="true")
									div(class="col-md-6")
										label Tanggal Lahir
										input(type="text" name="tgllahir" class="tgl_lahir form-control" autocomplete="off" required="true")
							div(class="form-group")
								div(class="row")
									div(class="col-md-6")
										label Username
										input(type="text" name="username" class="form-control" required="true")
									div(class="col-md-6")
										label Password
										input(type="password" name="pass" class="form-control" required="true")