extends ../template/superadminTemplate.pug

block content
	section(class="content")
		div(class="row")
			div(class="col-md-12")
				form(action="/superadmin/sekolah"+action method="post")
					div(class="box box-success")
						div(class="box-header with-border")
							h3(class="box-title")=title
							div(class="box-tools pull-right btn-group")
								button(type="submit" class="btn btn-sm btn-success")
									i(class="fa fa-check")
									|  Simpan
								a(href="/superadmin/sekolah" class="btn btn-sm btn-danger" title="Batal")
									i(class="fa fa-times")
									|  Batal
						// /.box-header
						div(class="box-body")
							input(type="hidden" name="idu" value="1")
							div(class="form-group")
								div(class="row")
									div(class="col-md-6")
										label Nama Sekolah
										input(type="text" name="nama_sekolah" class="form-control" required="true" value=(data)?data.nama_sekolah:"")
							div(class="form-group")
								div(class="row")
									div(class="col-md-4")
										label NPSN
										input(type="text" name="npsn" class="form-control" required="true" value=(data)?data.npsn:"")
									div(class="col-md-4")
										label Kode AN
										input(type="text" name="kode_an" class="form-control" required="true" value=(data)?data.kode_an:"")
							div(class="form-group")
								div(class="row")
									div(class="col-md-6")
										label Email
										input(type="email" name="email" class="form-control" required="true" value=(data)?data.email:"")
									div(class="col-md-6")
										label Password
										input(type="text" name="password" class="form-control" required="true" value=(data)?data.password:"")
							div(class="form-group")
								div(class="row")
									div(class="col-md-4")
										label Kota/Kabupaten
										select(name="kota" class="form-control" required="true")
											option(value="FAKFAK") FAKFAK	
									div(class="col-md-4")
										label Provinsi
										select(name="provinsi" class="form-control" required="true")
											option(value="PAPUA BARAT") PAPUA BARAT
									div(class="col-md-4")
										label Jenjang
										select(name="jenjang" class="form-control" required="true")
											option(value="SMP/MTS") SMP/MTS
							div(class="form-group")
								div(class="row")
									div(class="col-md-12")
										label Status Sekolah
										input(type="text" name="status" class="form-control" required="true" value=(data)?data.status:"")
							div(class="form-group")
								div(class="row")
									div(class="col-md-6")
										label Status Pelakasanaan
										select(name="status_pelaksanaan" class="form-control" required="true")
											if data
												if data.status_pelaksanaan == "MANDIRI DAN DITUMPANGI"
													option(value="MANDIRI DAN DITUMPANGI" selected) MANDIRI DAN DITUMPANGI
													option(value="MANDIRI") MANDIRI
													option(value="MENUMPANG") MENUMPANG
												else if data.status_pelaksanaan == "MANDIRI"
													option(value="MANDIRI DAN DITUMPANGI") MANDIRI DAN DITUMPANGI
													option(value="MANDIRI" selected) MANDIRI
													option(value="MENUMPANG") MENUMPANG
												else if data.status_pelaksanaan == "MENUMPANG"
													option(value="MANDIRI DAN DITUMPANGI") MANDIRI DAN DITUMPANGI	
													option(value="MANDIRI") MANDIRI
													option(value="MENUMPANG" selected) MENUMPANG
											else
												option(value="MANDIRI DAN DITUMPANGI") MANDIRI DAN DITUMPANGI	
												option(value="MANDIRI") MANDIRI
												option(value="MENUMPANG") MENUMPANG
									div(class="col-md-6")
										label Mode Pelakasanaan
										select(name="mode_pelaksanaan" class="form-control" required="true")
											option(value="ONLINE") ONLINE
											option(value="SEMI ONLINE") SEMI ONLINE
