extends ../template/superadminTemplate.pug

block content
	section(class="content")
		div(class="row")
			div(class="col-md-12")
				div(class="box box-solid")
					div(class="box-header with-border")
						h3(class="box-title")
							i(class="fas fa-file-signature fa-fw   ")
							|  DATA UJIAN
					div(class="box-body")
						div(class="row" style="padding-bottom: 10px;")
							// mryes
							div(class="col-md-3")
								select(class="form-control" id="kd_sek" name="kd_sek")
									each d in sekolah
										option(value=d._id) #{d.nama_sekolah}
							div(class="col-md-3")
								select#kelas(class="form-control select2 kelas")
									option(value="IX") IX
									option(value="VIII") VIII
									option(value="VII") VII
							div(class="col-md-3")
								select#kode(class="form-control select2 ujian")
									option(value="UTS") UTS
									option(value="UAS") UAS
									option(value="US") US
							div(class="col-md-3")
								button(onclick="cari()" class="btn btn-primary") Cari Nilai
block script
	script.
		function cari(){
			window.location.href = `/superadmin/detail-nilai?kelas=${$('#kelas').find(":selected").val()}&kode=${$('#kode').find(":selected").val()}&sekolah=${$('#kd_sek').find(":selected").val()}`;
		}