extends ../template/superadminTemplate.pug

block content
	section(class="content")
		div(class="row")
			div(class="col-md-12")
				div(class="box box-solid")
					if message
						div(class="alert alert-"+message.type)
							button(type="button", class="close", data-dismiss="alert", aria-hidden="true") ×
							| #{message.message}
					div(class="box-header with-border ")
						h3(class="box-title")
							i(class="fas fa-user-friends fa-fw ")
							|  Data Tim Teknis
						div(class="box-tools pull-right")
							a(href="/superadmin/form-tim-teknis" class="btn btn-sm btn-primary")
								i(class="glyphicon glyphicon-plus")
								span(class="hidden-xs")  Tambah
							a(data-toggle="modal" data-backdrop="static" data-target="#import" class="btn btn-sm btn-success")
								i(class="fa fa-upload")
								span(class="hidden-xs")  Import
					div(class="box-body")
						div(class="table-responsive")
							table#biodata-siswa(class="table table-bordered table-striped")
								thead
									tr
										th(style="width: 70px;")
											div(style="width: 70px; text-align: center;") Kode
										th(style="width: 100px;")
											div(style="width: 100px; text-align: center;") Provinsi
										th(style="width: 150px;")
											div(style="width: 150px; text-align: center;") Kota/Kabupaten
										th(style="width: 200px;")
											div(style="width: 200px; text-align: center;") Jabatan Tim Teknis
										th(style="width: 200px;")
											div(style="width: 200px; text-align: center;") Nama
										th(style="width: 150px;")
											div(style="width: 150px; text-align: center;") NIP
										th(style="width: 120px;")
											div(style="width: 120px; text-align: center;") Jabatan
										th(style="width: 200px;")
											div(style="width: 200px; text-align: center;") Instansi
										th(style="width: 150px;")
											div(style="width: 150px; text-align: center;") Telepon
										th(style="width: 150px;")
											div(style="width: 150px; text-align: center;") Email
										th(style="width: 60px;")
											div(style="width: 60px; text-align: center;") Aksi
								tbody
									each d in data
										tr
											td=d.kode
											td=d.provinsi
											td=d.kota
											td=d.jabatanTimTeknis
											td=d.nama
											td=d.nip
											td=d.jabatan
											td=d.instansi
											td=d.tlp
											td=d.email
											td
												a(href="/superadmin/form-tim-teknis/"+d._id class="btn btn-flat btn-xs bg-yellow")
													i(class="fa fa-edit")
												form(action=`/superadmin/tim-teknis/${d._id}?_method=DELETE` method="post" style="display:inline")
													button(onclick="return confirm('Anda yakin akan menghapus data ini?')" type="submit" class="btn btn-flat btn-xs bg-maroon")
														i(class="fa fa-trash")
						#import(class="modal fade" style="display: none;")
							div(class="modal-dialog")
								div(class="modal-content")
									div(class="modal-header bg-blue")
										button(class="close" data-dismiss="modal")
											span(aria-hidden="true")
												i(class="glyphicon glyphicon-remove")
										h3(class="modal-title") Import Tim Teknis
									div(class="modal-body")
										form(action="/superadmin/import-tim-teknis" method="post" enctype="multipart/form-data")
											div(class="form-group")
												label Pilih File
												input(type="file" name="file" class="form-control" required="true")
											p
												| Sebelum meng-import pastikan file yang akan anda import sudah dalam bentuk
												| Ms. Excel 97-2003 Workbook (.xls) dan format penulisan harus sesuai dengan
												| yang telah ditentukan.
												br
											a(href="importdatamapel.xls" download)
												i(class="fa fa-file-excel-o")
												| Download
												| Format
											div(class="modal-footer")
												div(class="box-tools pull-right ")
													button(type="submit" name="importmapel" class="btn btn-sm btn-flat btn-success")
														i(class="fa fa-upload")
														| Simpan
													button(type="button" class="btn btn-default btn-sm pull-left" data-dismiss="modal") Close
	block script
		//- script(src="/dist/js/tgl.js")