extends ../template/superadminTemplate.pug

block content
	section(class="content")
		div(class="row")
			div(class="col-md-12")
				form(action="/superadmin/tim-teknis"+action method="post")
					div(class="box box-success")
						div(class="box-header with-border")
							h3(class="box-title")=title 
							div(class="box-tools pull-right btn-group")
								button(type="submit" class="btn btn-sm btn-success")
									i(class="fa fa-check")
									|  Simpan
								a(href="/superadmin/tim-teknis" class="btn btn-sm btn-danger" title="Batal")
									i(class="fa fa-times")
									|  Batal
						// /.box-header
						div(class="box-body")
							div(class="form-group")
								div(class="row")
									div(class="col-md-12")
										label Nama
										input(type="text" name="nama" class="form-control" required="true" value=(data)?data.nama:"")
							div(class="form-group")
								div(class="row")
									div(class="col-md-4")
										label Kode
										input(type="text" name="kode" class="form-control" required="true" value=(data)?data.kode:"")
									div(class="col-md-8")
										label Kode Jabatan Tim
										input(type="text" name="jabatanTimTeknis" class="form-control" required="true" value=(data)?data.jabatanTimTeknis:"")
							div(class="form-group")
								div(class="row")
									div(class="col-md-6")
										label Provinsi
										select(name="provinsi" class="form-control" required="true")
											option(value="Papua Barat") PAPUA BARAT
									div(class="col-md-6")
										label Kota/Kabupaten
										select(name="kota" class="form-control" required="true")
											option(value="FAKFAK") FAKFAK
							div(class="form-group")
								div(class="row")
									div(class="col-md-6")
										label Jabatan
										input(type="text" name="jabatan" class="form-control" required="true" value=(data)?data.jabatan:"")
									div(class="col-md-6")
										label Instansi
										input(type="text" name="instansi" class="form-control" required="true" value=(data)?data.instansi:"")
							div(class="form-group")
								div(class="row")
									div(class="col-md-6")
										label Telepon
										input(type="number" name="tlp" class="form-control" required="true" value=(data)?data.tlp:"")
									div(class="col-md-6")
										label Email
										input(type="email" name="email" class="form-control" required="true" value=(data)?data.email:"")
							div(class="form-group")
								div(class="row")
									div(class="col-md-6")
										label NIP
										input(type="number" name="nip" class="form-control" required="true" value=(data)?data.nip:"")
									div(class="col-md-6")
										label Password
										input(type="text" name="password" class="form-control" required="true" value=(data)?data.password:"")