doctype html
html
	head
		meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		title=title
		meta(content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport")
		link(rel="shortcut icon" href="/dist/img/tutwuri.png")
		link(rel="stylesheet" href="/dist/bootstrap/css/bootstrap.min.css")
		link(rel="stylesheet" href="/plugins/fontawesome/css/all.css")
		link(rel="stylesheet" href="/plugins/select2/select2.min.css")
		link(rel="stylesheet" href="/dist/css/AdminLTE.css")
		link(rel="stylesheet" href="/dist/css/skins/skin-green-light.min.css")
		link(rel="stylesheet" href="/plugins/jQueryUI/jquery-ui.css")
		link(rel="stylesheet" href="/plugins/iCheck/square/green.css")
		link(rel="stylesheet" href="/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css")
		link(rel="stylesheet" href="/plugins/datatables/dataTables.bootstrap.css")
		link(rel="stylesheet" href="/plugins/datatables/extensions/Responsive/css/dataTables.responsive.css")
		link(rel="stylesheet" href="/plugins/datatables/extensions/Select/css/select.bootstrap.css")
		link(rel="stylesheet" href="/plugins/animate/animate.min.css")
		link(rel="stylesheet" href="/plugins/datetimepicker/jquery.datetimepicker.css")
		link(rel="stylesheet" href="/plugins/notify/css/notify-flat.css")
		link(rel="stylesheet" href="/plugins/sweetalert2/dist/sweetalert2.min.css")
		link(rel="stylesheet" href="/plugins/toastr/toastr.min.css")
		link(rel="stylesheet" href="/dist/css/costum.css")
		script(src="/plugins/tinymce/tinymce.min.js")
		script(src="/plugins/jQuery/jquery-3.1.1.min.js")
		script(src="/plugins/datatables/jquery.dataTables.min.js")
		script(src="/plugins/datatables/dataTables.bootstrap.min.js")
		script(src="/plugins/datatables/extensions/Select/js/dataTables.select.min.js")
		script(src="/plugins/datatables/extensions/Select/js/select.bootstrap.min.js")
		
	body(class="hold-transition skin-green-light fixed")
		div(class="wrapper")
			header(class="main-header")
				a(href="/home" class="logo" style="background-color:#fff")
					span(class="animated bounce logo-mini")
						img(src="/dist/img/tutwuri.png" height="30px")
					span(class="animated bounce logo-lg")
						img(src="/dist/img/tutwuri.png" height="40px")
				nav(class="navbar navbar-static-top" style="background-color:#fff;box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1)" role="navigation")
					a(style="color:#000" href="#" class="sidebar-baru" data-toggle="offcanvas" role="button")
						i(class="fa fa-bars fa-lg fa-fw")
					div(class="navbar-custom-menu")
						ul(class="nav navbar-nav")
							li(class="dropdown user user-menu")
								a(href="#" class="dropdown-toggle" data-toggle="dropdown")
									img(src="/dist/img/avatar-6.png" class="user-image" alt="+")
									span(style="color:#000" class="hidden-xs")
										| Profil  
										i(class="fa fa-caret-down")
								ul(class="dropdown-menu")
									li(class="user-header")
										img(src="/dist/img/avatar-6.png" class="img-circle" alt="User Image")
										p
											| #{user.nama}
											small
												| NISN. 
												| #{user.nisn}
									li(class="user-footer")
										div(class="pull-right")
											a(href="/logout" class="btn btn-sm btn-default btn-flat")
												i(class="fa fa-sign-out")
												| Keluar
			aside(class="main-sidebar" style="background-color: #fff")
				section(class="sidebar")
					hr(style="margin:0px")
					div(class="user-panel")
						div(class="pull-left image")
							img(src="/dist/img/avatar_default.png" class="img" style="max-width:60px" alt="")
						div(class="pull-left info" style="left:65px")
							p(title="Nama") #{user.nama}
							p
								a(href="#")
									i(class="fa fa-circle text-green")
									|  online
								p
									span(class="badge bg-red") #{user.no_peserta}
									span(class="badge bg-green") #{user.kelas}
					br
					hr(style="margin:0px")
					ul(class=" sidebar-menu tree data-widget=" tree)
						li(class="header") Main Menu Peserta Ujian
						li(class="sekolah")
							a(href="/home")
								i(class="fas fa-school side-menu-icon fa-fw")
								span Dashboard
						li(class="treeview")
							a(href="/jadwal-ujian")
								i(class="fas fa-calendar side-menu-icon fa-fw")
								span Jadwal Ujian
						li(class="treeview")
							a(href="/bahan-ajar")
								i(class="fas fa-file side-menu-icon fa-fw")
								span Materi Belajar
						li(class="treeview")
							a(href="/hasil-ujian")
								i(class="fas fa-tags side-menu-icon fa-fw")
								span Hasil Ujian
						li(class="treeview")
							a(href="/logout")
								i(class="fas fa-sign-out-alt side-menu-icon fa-fw")
								span Logout
			div(class="content-wrapper" style="background-image: url(/dist/img/boxed-bg.png);background-size: cover;")
				block content 

			footer(class="main-footer hidden-xs")
				div(class="container")
					div(class="pull-left hidden-xs")
						strong
							span#end-sidebar
								| Dinas Pendidikan 2022
		// ./wrapper
		// REQUIRED JS SCRIPTS
		script(src="/dist/bootstrap/js/bootstrap.min.js")
		script(src="/plugins/fastclick/fastclick.js")
		script(src="/dist/js/adminlte.min.js")
		script(src="/dist/js/app.min.js")
		script(src="/plugins/datetimepicker/build/jquery.datetimepicker.full.min.js")
		script(src="/plugins/slimScroll/jquery.slimscroll.min.js")
		script(src="/plugins/iCheck/icheck.min.js")
		script(src="/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js")
		script(src="/plugins/select2/select2.min.js")
		script(src="/plugins/tableedit/jquery.tabledit.js")
		script(src="/plugins/toastr/toastr.min.js")
		script(src="/plugins/notify/js/notify.js")
		script(src="/plugins/chartjs/dist/Chart.js")
		script(src="/plugins/sweetalert2/dist/sweetalert2.min.js")
		script(src="/plugins/MathJax-2.7.3/MathJax.js?config=TeX-AMS_HTML-full")
		script.
			var url = window.location;
			$('ul.sidebar-menu a').filter(function() {
				return this.href == url;
			}).parent().addClass('active');
			
			$('ul.treeview-menu a').filter(function() {
				return this.href == url;
			}).closest('.treeview').addClass('active');

			$('.datepicker').datetimepicker({
			timepicker: false,
			format: 'Y-m-d'
			});
        	
			$('.tgl').datetimepicker();
			$('.timer').datetimepicker({
			datepicker: false,
			format: 'H:i'
			});
		block script