doctype html
html
	head
		meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		title=title
		meta(content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport")
		link(rel="shortcut icon" href="/dist/img/tutwuri.png")
		link(rel="stylesheet" href="/dist/bootstrap/css/bootstrap.min.css")
		link(rel="stylesheet" href="/plugins/fontawesome/css/all.css")
		link(rel="stylesheet" href="/plugins/select2/select2.min.css")
		link(rel="stylesheet" href="/dist/css/AdminLTE.css")
		link(rel="stylesheet" href="/dist/css/skins/skin-green-light.min.css")
		link(rel="stylesheet" href="/plugins/jQueryUI/jquery-ui.css")
		link(rel="stylesheet" href="/plugins/iCheck/square/green.css")
		link(rel="stylesheet" href="/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css")
		link(rel="stylesheet" href="/plugins/datatables/dataTables.bootstrap.css")
		link(rel="stylesheet" href="/plugins/datatables/extensions/Responsive/css/dataTables.responsive.css")
		link(rel="stylesheet" href="/plugins/datatables/extensions/Select/css/select.bootstrap.css")
		link(rel="stylesheet" href="/plugins/animate/animate.min.css")
		link(rel="stylesheet" href="/plugins/datetimepicker/jquery.datetimepicker.css")
		link(rel="stylesheet" href="/plugins/notify/css/notify-flat.css")
		link(rel="stylesheet" href="/plugins/sweetalert2/dist/sweetalert2.min.css")
		link(rel="stylesheet" href="/plugins/toastr/toastr.min.css")
		link(rel="stylesheet" href="/dist/css/costum.css")
		block styles
		script(src="/plugins/tinymce/tinymce.min.js")
		script(src="/plugins/jQuery/jquery-3.1.1.min.js")
		script(src="/plugins/datatables/jquery.dataTables.min.js")
		script(src="/plugins/datatables/dataTables.bootstrap.min.js")
		script(src="/plugins/datatables/extensions/Select/js/dataTables.select.min.js")
		script(src="/plugins/datatables/extensions/Select/js/select.bootstrap.min.js")
		
	body(class="hold-transition skin-green-light fixed")
		div(class="wrapper")
			header(class="main-header")
				a(href="/superadmin/home" class="logo" style="background-color:#fff")
					span(class="animated bounce logo-mini")
						img(src="/dist/img/tutwuri.png" height="30px")
					span(class="animated bounce logo-lg")
						img(src="/dist/img/tutwuri.png" height="40px")
				nav(class="navbar navbar-static-top" style="background-color:#fff;box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1)" role="navigation")
					a(style="color:#000" href="#" class="sidebar-baru" data-toggle="offcanvas" role="button")
						i(class="fa fa-bars fa-lg fa-fw")
					div(class="navbar-custom-menu")
						ul(class="nav navbar-nav")
							li(class="dropdown user user-menu")
								a(href="#" class="dropdown-toggle" data-toggle="dropdown")
									img(src="/dist/img/avatar-6.png" class="user-image" alt="+")
									span(style="color:#000" class="hidden-xs")
										| #{user.nama}
										i(class="fa fa-caret-down")
								ul(class="dropdown-menu")
									li(class="user-header")
										img(src="/dist/img/avatar-6.png" class="img-circle" alt="User Image")
										p
											| #{user.nama}
											small
												| NIP.
												| #{user.nip}
									li(class="user-footer")
										div(class="pull-right")
											a(href="/superadmin/logout" class="btn btn-sm btn-default btn-flat")
												i(class="fa fa-sign-out")
												| Keluar
			aside(class="main-sidebar" style="background-color: #fff")
				div(class="menu-header")
					ul
						li
							a(style="color:#fff" href="/superadmin/home" class="btn-logout")
								span(class="fa fa-home fa-2x")
								br
								| Dashboard
						li
							a(style="color:#fff" class="btn-logout" href="/superadmin/pengaturan")
								span(class="fa fa-user-cog fa-2x")
								br
								| Pengaturan
						li
							a(style="color:#fff" href="/superadmin/logout" class="btn-logout")
								span(class="fa fa-sign-out-alt fa-2x")
								br
								| Keluar
				section(class="sidebar")
					hr(style="margin:0px")
					hr(style="margin:0px")
					ul(class=" sidebar-menu tree data-widget=" tree)
						li(class="header") MENU UTAMA
						li(class="sekolah")
							a(href="/superadmin/sekolah")
								i(class="fas fa-school side-menu-icon fa-fw")
								span Data Sekolah
						li(class="treeview")
							a(href="/superadmin/peserta")
								i(class="fas fa-user-friends side-menu-icon fa-fw")
								span Data Siswa
						li(class="treeview")
							a(href="/superadmin/bahan-ajar")
								i(class="fas fa-edit side-menu-icon fa-fw")
								span Bahan Ajar
						li(class="treeview")
							a(href="/superadmin/tim-teknis")
								i(class="fas fa-edit side-menu-icon fa-fw")
								span Data Tim Teknis
						
						li(class="treeview")
							a(href="/superadmin/bank-soal")
								i(class="fas fa-envelope-open-text side-menu-icon fa-fw")
								span Bank Soal
						//- li(class="treeview")
						//- 	a(href="#")
						//- 		i(class="fas fa-envelope-open-text side-menu-icon fa-fw")
						//- 		span
						//- 			| Bank Soal
						//- 		span(class="pull-right-container")
						//- 			i(class="fa fa-angle-down pull-right")
						//- 	ul(class="treeview-menu")
						//- 		li
						//- 			a(href="/superadmin/bank-soal")
						//- 				i(class="fas fa-angle-double-right fa-fw")
						//- 				span
						//- 					| Daftar
						//- 					| Soal
						//- 		li
						//- 			a(href="/superadmin/file-pendukung")
						//- 				i(class="fas fa-angle-double-right  fa-fw")
						//- 				span
						//- 					| File
						//- 					| Pendukung
						li(class="treeview")
							a(href="#")
								i(class="fas fa-desktop side-menu-icon fa-fw")
								span  Menu Ujian 
								span(class="pull-right-container")
									i(class="fa fa-angle-down pull-right")
							ul(class="treeview-menu")
								li
									a(href="/superadmin/jadwal")
										i(class="fas fa-angle-double-right fa-fw")
										span
											| Jadwal
											| Ujian
								li
									//- a(href="reset")
									//- 	i(class="fas fa-angle-double-right  fa-fw")
									//- 	span
									//- 		| Reset
									//- 		| Ujian
						li(class="treeview")
							a(href="#")
								i(class="fas fa-print side-menu-icon fa-fw")
								span  Kelengkapan Berkas 
								span(class="pull-right-container")
									i(class="fa fa-angle-down pull-right")
							ul(class="treeview-menu")
								li
									a(href="/superadmin/kartu-ujian")
										i(class="fas fa-angle-double-right fa-fw")
										span
											| Kartu
											| Ujian
								li
									a(href="/superadmin/berita-acara")
										i(class="fas fa-angle-double-right  fa-fw")
										span
											| Berita
											| Acara
								li
									a(href="/superadmin/daftar-hadir")
										i(class="fas fa-angle-double-right  fa-fw")
										span
											| Daftar
											| Hadir
						li(class="treeview")
							a(href="#")
								i(class="fas fa-file-signature side-menu-icon fa-fw")
								span  Nilai 
								span(class="pull-right-container")
									i(class="fa fa-angle-down pull-right")
							ul(class="treeview-menu")
								li
									a(href="/superadmin/nilai-ujian")
										i(class="fas fa-angle-double-right fa-fw")
										span
											| Hasil
											| Nilai
								li
									a(href="/superadmin/semua-nilai")
										i(class="fas fa-angle-double-right  fa-fw")
										span
											| Semua
											| Nilai
								//- li
								//- 	a(href="/superadmin/nilai-ujian")
								//- 		i(class="fas fa-angle-double-right fa-fw")
								//- 		span
								//- 			| Ujian Sekolah
								//- li
								//- 	a(href="/superadmin/semua-nilai")
								//- 		i(class="fas fa-angle-double-right  fa-fw")
								//- 		span
								//- 			| Ujian Semester 
								//- li
								//- 	a(href="/superadmin/semua-nilai")
								//- 		i(class="fas fa-angle-double-right  fa-fw")
								//- 		span
								//- 			| Ujian MID Semester
						li(class="treeview")
							a(href="/superadmin/pengumuman")
								i(class="fas fa-bullhorn side-menu-icon fa-fw")
								span
									| Pengumuman
			div(class="content-wrapper" style="background-image: url(/dist/img/boxed-bg.png);background-size: cover;")
				block content 

			footer(class="main-footer hidden-xs")
				div(class="container")
					div(class="pull-left hidden-xs")
						strong
							span#end-sidebar
								| Dinas Pendidikan 2022
		// ./wrapper
		// REQUIRED JS SCRIPTS
		script(src="/dist/bootstrap/js/bootstrap.min.js")
		script(src="/plugins/fastclick/fastclick.js")
		script(src="/dist/js/adminlte.min.js")
		script(src="/dist/js/app.min.js")
		script(src="/plugins/datetimepicker/build/jquery.datetimepicker.full.min.js")
		script(src="/plugins/slimScroll/jquery.slimscroll.min.js")
		script(src="/plugins/iCheck/icheck.min.js")
		script(src="/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js")
		script(src="/plugins/select2/select2.min.js")
		script(src="/plugins/tableedit/jquery.tabledit.js")
		script(src="/plugins/toastr/toastr.min.js")
		script(src="/plugins/notify/js/notify.js")
		script(src="/plugins/chartjs/dist/Chart.js")
		script(src="/plugins/sweetalert2/dist/sweetalert2.min.js")
		script(src="/plugins/MathJax-2.7.3/MathJax.js?config=TeX-AMS_HTML-full")
		script.
			var url = window.location;
			$('ul.sidebar-menu a').filter(function() {
				return this.href == url;
			}).parent().addClass('active');
			
			$('ul.treeview-menu a').filter(function() {
				return this.href == url;
			}).closest('.treeview').addClass('active');
			
			$('.datepicker').datetimepicker({
			timepicker: false,
			format: 'Y-m-d'
			});
			$('.tgl').datetimepicker();
			$('.timer').datetimepicker({
			datepicker: false,
			format: 'H:i'
			});
		block script
				