doctype html
html
	head
		meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		title=title
		meta(content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport")
		link(rel="shortcut icon" href="/dist/img/tutwuri.png")
		link(rel="stylesheet" href="/dist/bootstrap/css/bootstrap.min.css")
		link(rel="stylesheet" href="/plugins/fontawesome/css/all.css")
		link(rel="stylesheet" href="/plugins/select2/select2.min.css")
		link(rel="stylesheet" href="/dist/css/AdminLTE.css")
		link(rel="stylesheet" href="/dist/css/skins/skin-green-light.min.css")
		link(rel="stylesheet" href="/plugins/jQueryUI/jquery-ui.css")
		link(rel="stylesheet" href="/plugins/iCheck/square/green.css")
		link(rel="stylesheet" href="/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css")
		link(rel="stylesheet" href="/plugins/datatables/dataTables.bootstrap.css")
		link(rel="stylesheet" href="/plugins/datatables/extensions/Responsive/css/dataTables.responsive.css")
		link(rel="stylesheet" href="/plugins/datatables/extensions/Select/css/select.bootstrap.css")
		link(rel="stylesheet" href="/plugins/animate/animate.min.css")
		link(rel="stylesheet" href="/plugins/datetimepicker/jquery.datetimepicker.css")
		link(rel="stylesheet" href="/plugins/notify/css/notify-flat.css")
		link(rel="stylesheet" href="/plugins/sweetalert2/dist/sweetalert2.min.css")
		link(rel="stylesheet" href="/plugins/toastr/toastr.min.css")
		link(rel="stylesheet" href="/dist/css/costum.css")
		script(src="/plugins/tinymce/tinymce.min.js")
		script(src="/plugins/jQuery/jquery-3.1.1.min.js")
		script(src="/plugins/datatables/jquery.dataTables.min.js")
		script(src="/plugins/datatables/dataTables.bootstrap.min.js")
		script(src="/plugins/datatables/extensions/Select/js/dataTables.select.min.js")
		script(src="/plugins/datatables/extensions/Select/js/select.bootstrap.min.js")
		link(rel="stylesheet" href="/plugins/toastr/toastr.min.css")
		link(rel="stylesheet" href="/plugins/radio/css/style.css")
		script(src="/plugins/tinymce/tinymce.min.js")
		block styles
		
	body(class="skin-green-light fixed sidebar-collapse")
		div(class="wrapper")
			div(class="content-wrapper" style="background-image: url(/dist/img/boxed-bg.png);background-size: cover;")
				block content 

		// ./wrapper
		// REQUIRED JS SCRIPTS
		script(src="/dist/bootstrap/js/bootstrap.min.js")
		script(src="/plugins/fastclick/fastclick.js")
		script(src="/dist/js/adminlte.min.js")
		script(src="/dist/js/app.min.js")
		script(src="/plugins/datetimepicker/build/jquery.datetimepicker.full.min.js")
		script(src="/plugins/slimScroll/jquery.slimscroll.min.js")
		script(src="/plugins/iCheck/icheck.min.js")
		script(src="/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js")
		script(src="/plugins/select2/select2.min.js")
		script(src="/plugins/tableedit/jquery.tabledit.js")
		script(src="/plugins/toastr/toastr.min.js")
		script(src="/plugins/notify/js/notify.js")
		script(src="/plugins/chartjs/dist/Chart.js")
		script(src="/plugins/sweetalert2/dist/sweetalert2.min.js")
		script(src="/plugins/MathJax-2.7.3/MathJax.js?config=TeX-AMS_HTML-full")
		script.
			$('.datepicker').datetimepicker({
			timepicker: false,
			format: 'Y-m-d'
			});
			$('.tgl').datetimepicker();
			$('.timer').datetimepicker({
			datepicker: false,
			format: 'H:i'
			});
		block script
				